<div class="w-full">
  <div class="flex items-center ml-6 pt-4">
    <div
      class="border-t-2 border-l-2 border-r-2 px-4 py-2 rounded-t-xl overflow-hidden bg-card flex align-center gap-2"
    >
      <span
        [hidden]="edit"
        class="sm:text-lg leading-6 truncate font-bold w-60"
        [matTooltip]="sectionData.nombre"
      >
        {{ sectionData.nombre }}
      </span>
      <input
        [hidden]="!edit"
        #nameInput
        class="sm:text-lg leading-6 truncate w-36"
        value="{{ sectionData.nombre }}"
      />

      <span
        *ngIf="!edit"
        class="mat-button-wrapper cursor-pointer"
        (click)="editSection()"
        matTooltip="Editar nombre de Sección"
      >
        <mat-icon [svgIcon]="'heroicons_outline:pencil'"> </mat-icon>
      </span>
      <span
        *ngIf="edit"
        class="mat-button-wrapper cursor-pointer"
        (click)="save()"
        matTooltip="Guardar"
      >
        <mat-icon [svgIcon]="'heroicons_outline:save'"> </mat-icon>
      </span>

      <span class="mat-button-wrapper cursor-pointer" (click)="deleteSection()">
        <mat-icon [svgIcon]="'heroicons_outline:trash'"> </mat-icon>
      </span>
    </div>
  </div>

  <div
    class="flex flex-col-reverse md:flex-auto ml-6 mr-6 bg-gray-200 py-8 px-6 md:px-8 rounded-b-xl rounded-tr-xl border-2"
  >
    <div
      class="flex flex-0 items-center w-full px-4 z-49 dark:bg-transparent print:hidden bottom-0"
      [ngClass]="{
        'justify-end': isActiveGroup(),
        'h-4': isActiveGroup(),
        'justify-center': !isActiveGroup(),
        'h-16': !isActiveGroup()
      }"
    >
      <span class="font-medium text-secondary">
        <button
          mat-button
          color="primary"
          [matMenuTriggerFor]="menu"
          aria-label="Toggle menu"
        >
          <mat-icon svgIcon="heroicons_solid:plus"></mat-icon>
          Agregar grupo
        </button>

        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item (click)="postGroup('v')">
            Crear formulario
          </button>
          <button (click)="postGroup('h')" mat-menu-item>Crear tabla</button>
        </mat-menu>
      </span>
    </div>
    <mat-progress-bar
      [mode]="'indeterminate'"
      *ngIf="isLoading"
    ></mat-progress-bar>
    <ng-container *ngIf="grupos.length > 0 || isLoading">
      <div cdkDropList class="list-section" (cdkDropListDropped)="drop($event)">
        <ng-container *ngFor="let group of grupos; trackBy: trackByFn">
          <app-groups
            id="group{{ group.id }}"
            *ngIf="group.activo"
            class="list-box w-full"
            [groupData]="group"
            (currentGroupused)="currentGroupused($event)"
            (isColumnAdded)="isColumnAddedFn($event)"
          ></app-groups>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>
