.inventory-grid {
  grid-template-columns: 30 50px 50px 50px 50px 50px 50px 50px 20px;
  @screen sm {
    grid-template-columns: 30px 50px 50px 50px 50px 50px 50px 50px 20px;
  }

  @screen md {
    grid-template-columns: 40px 80px 80px 80px 80px 80px 80px 80px 70px;
  }

  @screen lg {
    grid-template-columns: 50px 100px 100px 100px 100px 120px 100px 100px 100px;
  }

  @screen xl {
    grid-template-columns: 60px 120px 120px 120px 120px 120px 120px 120px 100px;
  }        
}