<div mat-dialog-title class="flex justify-between items-center">
  <h2 class="font-bold">Editar dispositivo</h2>
  <button mat-icon-button type="button" (click)="matdialigRef.close()">
    <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
  </button>
</div>
<div mat-dialog-content class="pb-6">
  <div class="flex flex-col w-full">
    <!-- Nombre -->

    <mat-form-field floatLabel="always" class="w-100-p">
      <mat-label>Nombre</mat-label>
      <input
        matInput
        type="text"
        [formControl]="nombre"
        placeholder="Ingrese nombre"
        autocomplete="off"
      />
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions class="flex justify-center px-6 gap-5">
  <button
    (click)="matdialigRef.close()"
    mat-button
    class="ml-4 bg-gray-50 border-solid border border-accent-300 text-gray-700 shadow-none"
  >
    Cancelar
  </button>

  <button
    mat-raised-button
    [color]="'primary'"
    class="w-32"
    [disabled]="nombre.invalid || isLoading"
    (click)="editDevice()"
  >
    <mat-progress-spinner
      *ngIf="isLoading"
      [diameter]="24"
      [mode]="'indeterminate'"
    ></mat-progress-spinner>
    <span *ngIf="!isLoading">Editar</span>
  </button>
</div>
