<form [formGroup]="form">
  <div mat-dialog-title class="flex justify-between items-center">
    <h4>Agregar formato</h4>
    <button mat-icon-button type="button" (click)="dialogRef.close()">
      <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
    </button>
  </div>
  <div mat-dialog-content class="pb-6">
    <div class="flex flex-col w-full">
      <!-- Nombre -->
      <mat-form-field class="w-full">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre" />
        <mat-error> {{ getErrorMessage("nombre") }} </mat-error>
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label class="font-bold">Cliente</mat-label>
        <mat-select
          formControlName="idCliente"
          [value]="form.controls['idCliente'].value"
        >
          <mat-option *ngFor="let cliente of clientsOpt" [value]="cliente.id">{{
            cliente.nombre
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label class="font-bold">Modelo</mat-label>
        <mat-select
          formControlName="idModelo"
          [value]="form.controls['idModelo'].value"
        >
          <mat-option *ngFor="let modelo of modelosOpt" [value]="modelo.id">{{
            modelo.nombre
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label class="font-bold">Tipo de actividad</mat-label>
        <mat-select
          formControlName="idClaseActividad"
          [value]="form.controls['idClaseActividad'].value"
        >
          <mat-option
            *ngFor="let actividad of actividadOpt"
            [value]="actividad.id"
            >{{ actividad.nombre }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label class="font-bold">Tipo de mantenimiento</mat-label>
        <mat-select
          formControlName="idTipoMantenimiento"
          [value]="form.controls['idTipoMantenimiento'].value"
        >
          <mat-option
            *ngFor="let tipo_mantenimiento of tipo_mttoOpt"
            [value]="tipo_mantenimiento.id"
            >{{ tipo_mantenimiento.nombre }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="flex justify-end px-6 bg-gray-100">
    <button
      mat-button
      class="
        ml-4
        bg-gray-50
        border-solid border border-accent-300
        text-gray-700
        shadow-none
      "
      (click)="dialogRef.close()"
    >
      Cancelar
    </button>
    <button
      mat-raised-button
      [color]="'primary'"
      class="w-24"
      (click)="onSubmit()"
      [disabled]="form.get('nombre').hasError('required')"
    >
      <span *ngIf="!loading"> Crear </span>
      <mat-progress-spinner
        *ngIf="loading"
        [diameter]="24"
        [mode]="'indeterminate'"
      ></mat-progress-spinner>
    </button>
  </div>
</form>
