<div
  class="
    grid grid-cols-1
    sm:grid-cols-2
    md:grid-cols-5
    gap-6
    w-full
    min-w-0
    md:mt-4
  "
>
  <!-- Summary -->
  <div
    class="
      flex flex-col flex-auto
      p-6
      bg-card
      shadow
      rounded-2xl
      overflow-hidden
    "
  >
    <div class="flex items-start justify-between"></div>
    <div class="flex flex-col items-center mt-2">
      <div class="flex justify-start w-full">
        <span class="font-bold">Total</span>
      </div>
      <div
        class="
          text-7xl
          sm:text-8xl
          font-bold
          tracking-tight
          leading-none
          text-gray-500
        "
      >
        21
      </div>
      <div class="text-lg font-medium text-blue-600 dark:text-blue-500">
        11 Ejecutadas
      </div>
      <div class="text-lg font-medium text-red-600 dark:text-red-500">
        10 No ejecutadas
      </div>
    </div>
  </div>

  <div
    class="
      flex flex-col flex-auto
      p-6
      bg-card
      shadow
      rounded-2xl
      overflow-hidden
    "
  >
    <div class="flex items-start justify-between"></div>
    <div class="flex flex-col items-center mt-2">
      <div
        class="
          text-7xl
          sm:text-8xl
          font-bold
          tracking-tight
          leading-none
          text-amber-500
        "
      >
        24
      </div>
      <div class="text-lg font-medium text-amber-600 dark:text-amber-500">
        Sin empezar
      </div>
      <div
        class="flex items-center justify-center w-full mt-5 text-secondary"
      ></div>
    </div>
  </div>

  <div
    class="
      flex flex-col flex-auto
      p-6
      bg-card
      shadow
      rounded-2xl
      overflow-hidden
    "
  >
    <div class="flex items-start justify-between"></div>
    <div class="flex flex-col items-center mt-2">
      <div
        class="
          text-7xl
          sm:text-8xl
          font-bold
          tracking-tight
          leading-none
          text-green-500
        "
      >
        38
      </div>
      <div class="text-lg font-medium text-green-600 dark:text-green-500">
        En proceso
      </div>
      <div
        class="flex items-center justify-center w-full mt-5 text-secondary"
      ></div>
    </div>
  </div>

  <div
    class="
      flex flex-col flex-auto
      p-6
      bg-card
      shadow
      rounded-2xl
      overflow-hidden
    "
  >
    <div class="flex items-start justify-between"></div>
    <div class="flex flex-col items-center mt-2">
      <div
        class="
          text-7xl
          sm:text-8xl
          font-bold
          tracking-tight
          leading-none
          text-red-500
        "
      >
        17
      </div>
      <div class="text-lg font-medium text-red-600 dark:text-red-500">
        Observadas
      </div>
      <div
        class="flex items-center justify-center w-full mt-5 text-secondary"
      ></div>
    </div>
  </div>

  <div
    class="
      flex flex-col flex-auto
      p-6
      bg-card
      shadow
      rounded-2xl
      overflow-hidden
    "
  >
    <div class="flex items-start justify-between"></div>
    <div class="flex flex-col items-center mt-2">
      <div
        class="
          text-7xl
          sm:text-8xl
          font-bold
          tracking-tight
          leading-none
          text-blue-500
        "
      >
        15
      </div>
      <div class="text-lg font-medium text-blue-600 dark:text-blue-500">
        Validadas
      </div>
    </div>
  </div>
</div>
