<div class="flex flex-col flex-auto min-w-0">
  <!-- Header -->
  <div
    class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent"
  >
    <div class="flex w-full items-center min-w-0">
      <!-- Loader -->
      <div class="absolute inset-x-0 top-0" *ngIf="loading">
        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
      </div>
      <!-- Title -->
      <div class="w-1/4">
        <h2
          class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate"
        >
          <span *ngIf="isEdit"> Editar Perfil</span>
          <span *ngIf="!isEdit"> Crear Perfil</span>
        </h2>
      </div>
      <div class="flex w-2/4 justify-end"></div>
    </div>
  </div>
  <div class="flex flex-auto overflow-hidden bg-gray-100 py-8 px-6">
    <!-- Products list -->
    <div
      class="flex flex-col flex-auto overflow-hidden sm:overflow-y-auto py-8 px-6 md:px-3 border-radius-1 bg-white rounded-lg relative pb-18"
    >
      <form [formGroup]="form" novalidate>
        <div class="flex flex-auto flex-wrap">
          <!-- Alerta -->
          <div class="w-full mb-8 px-8" *ngIf="alert">
            <fuse-alert
              [appearance]="'soft'"
              *ngIf="alert"
              [type]="alert?.type"
              [showIcon]="false"
              [dis]
            >
              {{ alert.message }}
            </fuse-alert>
          </div>
          <div class="flex flex-col md:flex-row w-full">
            <!-- Usuario -->
            <mat-form-field class="w-full md:w-1/4 md:pl-8">
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="nombre" />
              <mat-error> {{ getErrorMessage("nombre") }} </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="hidden md:block px-8 py-4">
          <mat-divider></mat-divider>
        </div>
        <div class="flex gap-5">
          <div class="flex flex-auto flex-wrap">
            <div class="flex flex-col md:flex-row w-full md:pl-8">
              <div class="font-semibold mb-2">Permisos para WEB</div>
            </div>
            <div
              class="flex flex-col md:flex-row w-full md:pl-8 overflow-y-auto"
            >
              <ul>
                <ng-container
                  *ngTemplateOutlet="recursiveListTmpl; context: { list: list }"
                ></ng-container>
              </ul>

              <ng-template #recursiveListTmpl let-list="list">
                <li
                  *ngFor="let item of list"
                  [ngStyle]="{
                    'margin-bottom.px': item.level === 1 ? 24 : 8,
                    'margin-top.px': 8
                  }"
                >
                  <mat-checkbox
                    [disabled]="loadingCheckbox"
                    [color]="!item.esAccion ? 'primary' : 'warn'"
                    [checked]="item.activo"
                    (change)="clickCheckbox(item)"
                    [ngClass]="{
                      'text-gray-500': item.esAccion
                    }"
                  >
                    {{ item.title ? item.title : item.nombre }}
                  </mat-checkbox>
                  <ul
                    *ngIf="item?.children?.length > 0"
                    [ngStyle]="{ 'padding-left.px': 20, 'margin-botom.px': 8 }"
                  >
                    <ng-container
                      *ngTemplateOutlet="
                        recursiveListTmpl;
                        context: { list: item.children }
                      "
                    ></ng-container>
                  </ul>

                  <ul
                    *ngIf="item?.acciones?.length > 0"
                    [ngStyle]="{ 'padding-left.px': 20, 'margin-botom.px': 8 }"
                  >
                    <ng-container
                      *ngTemplateOutlet="
                        recursiveListTmpl;
                        context: { list: item.acciones }
                      "
                    ></ng-container>
                  </ul>
                </li>
              </ng-template>
            </div>
          </div>

          <div class="flex flex-auto flex-wrap">
            <div class="flex flex-col w-full md:pl-8 overflow-y-auto">
              <div class="flex w-full">
                <div class="font-semibold mb-2">Permisos para MÓVIL</div>
              </div>
              <ul>
                <ng-container
                  *ngTemplateOutlet="
                    recursiveListAppTmpl;
                    context: { listApp: listApp }
                  "
                ></ng-container>
              </ul>

              <ng-template #recursiveListAppTmpl let-listApp="listApp">
                <li
                  *ngFor="let item of listApp"
                  [ngStyle]="{
                    'margin-bottom.px': item.level === 1 ? 24 : 8,
                    'margin-top.px': 8
                  }"
                >
                  <mat-checkbox
                    [disabled]="loadingCheckbox"
                    [color]="!item.esAccion ? 'primary' : 'warn'"
                    [checked]="item.activo"
                    (change)="clickCheckbox(item)"
                    [ngClass]="{
                      'text-gray-500': item.esAccion
                    }"
                  >
                    {{ item.title ? item.title : item.nombre }}
                  </mat-checkbox>
                  <ul
                    *ngIf="item?.children?.length > 0"
                    [ngStyle]="{ 'padding-left.px': 20, 'margin-botom.px': 8 }"
                  >
                    <ng-container
                      *ngTemplateOutlet="
                        recursiveListAppTmpl;
                        context: { listApp: item.children }
                      "
                    ></ng-container>
                  </ul>

                  <ul
                    *ngIf="item?.acciones?.length > 0"
                    [ngStyle]="{ 'padding-left.px': 20, 'margin-botom.px': 8 }"
                  >
                    <ng-container
                      *ngTemplateOutlet="
                        recursiveListAppTmpl;
                        context: { listApp: item.acciones }
                      "
                    ></ng-container>
                  </ul>
                </li>
              </ng-template>
            </div>
          </div>
        </div>
      </form>

      <!-- Footer -->
      <div
        class="flex flex-row justify-end items-center w-full px-6 absolute bottom-0 left-0 absolute bottom-0 left-0 h-18 bg-gray-50"
      >
        <a
          mat-raised-button
          class="ml-4 bg-gray-50 border-solid border border-accent-300 text-gray-700 shadow-none"
          routerLink="/admin/ajustes/perfiles"
        >
          <span class="ml-1 mr-1">Cancelar</span>
        </a>

        <button
          class="ml-4"
          mat-flat-button
          [color]="'primary'"
          (click)="onSubmit()"
          [disabled]="loadingCheckbox || !form.valid"
        >
          <mat-progress-spinner
            *ngIf="loading"
            [diameter]="24"
            [mode]="'indeterminate'"
          ></mat-progress-spinner>
          <span class="ml-2 mr-1" *ngIf="!loading">{{
            isEdit ? "Guardar" : "Crear"
          }}</span>
        </button>
      </div>
    </div>
  </div>
</div>
