<div mat-dialog-title class="flex justify-between items-center">
  <h4>Cargar imagen</h4>
  <button mat-icon-button type="button" (click)="dialogRef.close()">
    <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
  </button>
</div>
<div mat-dialog-content class="pb-6">
  <ui-upload-file
    class="upload-image-add-dato"
    [required]="false"
    [editable]="true"
    [type]="'image'"
    [loading]="filesLoading"
    [image]="image"
    (sourceFile)="onChageFile($event)"
  ></ui-upload-file>
</div>
<div mat-dialog-actions class="flex justify-end px-6 bg-gray-100">
  <button
    (click)="dialogRef.close()"
    mat-button
    class="ml-4 bg-gray-50 border-solid border border-accent-300 text-gray-700 shadow-none"
  >
    Cancelar
  </button>
</div>
