<div mat-dialog-title class="flex justify-between items-center">
  <h4>¿ Está seguro que desea valdiar el informe ?</h4>

  <button mat-icon-button type="button" (click)="matDialog.close()">
    <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
  </button>
</div>
<div mat-dialog-content class="pb-6">
  <div class="flex flex-col w-full gap-5">
    <button
      class="mr-8"
      mat-raised-button
      [color]="'primary'"
      (click)="validate()"
    >
      <span class="ml-2 mr-1">Si, validar el informe</span>
    </button>

    <button
      class="mr-8"
      mat-raised-button
      [color]="'secondary'"
      (click)="matDialog.close()"
    >
      <span class="ml-2 mr-1">Volver</span>
    </button>
  </div>
</div>
