<form [formGroup]="form">
  <div mat-dialog-title class="flex justify-between items-center">
    <h4>Agregar cliente</h4>
    <button mat-icon-button type="button" (click)="matdialigRef.close()">
      <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
    </button>
  </div>
  <div mat-dialog-content class="pb-6">
    <div class="flex flex-col w-full">
      <!-- Nombre -->

      <mat-form-field floatLabel="always" class="w-100-p">
        <mat-label>Nombre</mat-label>
        <input
          matInput
          type="text"
          formControlName="nombre"
          placeholder="Ingrese nombre"
          autocomplete="off"
        />
        <mat-error *ngIf="form.controls['nombre'].invalid">{{
          matErrorMsg
        }}</mat-error>
      </mat-form-field>

      <mat-form-field floatLabel="always" class="w-100-p">
        <mat-label>RUC</mat-label>
        <input
          matInput
          type="number"
          (keypress)="maxLengValidator()"
          formControlName="ruc"
          placeholder="Ingrese RUC"
          autocomplete="off"
        />

        <mat-error *ngIf="form.controls['ruc'].invalid">
          RUC debe tener 11 caracteres
        </mat-error>
      </mat-form-field>

      <mat-form-field floatLabel="always" class="w-100-p">
        <mat-label>Razón social</mat-label>
        <input
          matInput
          type="text"
          formControlName="razon"
          placeholder="Ingrese razón social"
          autocomplete="off"
        />
        <mat-error *ngIf="form.controls['razon'].invalid">{{
          matErrorMsg
        }}</mat-error>
      </mat-form-field>

      <mat-form-field floatLabel="always" class="w-100-p">
        <mat-label>Ubicación</mat-label>
        <input
          matInput
          type="text"
          formControlName="ubicacion"
          placeholder="Ingrese Ubicación/Dirección"
          autocomplete="off"
        />
        <mat-error *ngIf="form.controls['ubicacion'].invalid">{{
          matErrorMsg
        }}</mat-error>
      </mat-form-field>

      <div class="flex justify-between mt-2">
        <span>Estado</span>
        <mat-slide-toggle
          class="self-end"
          color="primary"
          (change)="check($event)"
          [checked]="form.controls['estado'].value === 1 ? true : false"
        >
        </mat-slide-toggle>
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="flex justify-center px-6 gap-5">
    <button
      (click)="matdialigRef.close()"
      mat-button
      class="ml-4 bg-gray-50 border-solid border border-accent-300 text-gray-700 shadow-none"
    >
      Cancelar
    </button>
    <button
      *ngIf="!isEdit"
      mat-raised-button
      [color]="'primary'"
      class="w-32"
      (click)="submit()"
      [disabled]="form.invalid"
    >
      <mat-progress-spinner
        *ngIf="isLoading"
        [diameter]="24"
        [mode]="'indeterminate'"
      ></mat-progress-spinner>
      <span>Crear</span>
    </button>

    <button
      *ngIf="isEdit"
      mat-raised-button
      [color]="'primary'"
      class="w-32"
      (click)="submit('edit')"
      [disabled]="form.invalid"
    >
      <mat-progress-spinner
        *ngIf="isLoading"
        [diameter]="24"
        [mode]="'indeterminate'"
      ></mat-progress-spinner>
      <span>Editar</span>
    </button>
  </div>
</form>
