<!-- Drawer content -->
<div class="flex-auto">
  <div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div
      class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent"
    >
      <div class="flex w-full items-center min-w-0">
        <!-- Loader -->
        <div class="absolute inset-x-0 top-0" *ngIf="isLoading">
          <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="w-1/4">
          <h2
            class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate"
          >
            Dispositivos
          </h2>
        </div>
        <div class="flex w-2/4 justify-end"></div>
      </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">
      <!-- Products list -->
      <div
        class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto bg-white"
      >
        <ng-container *ngIf="dispositivos$ | async as formatos">
          <ng-container *ngIf="formatos.length > 0; else empty">
            <div class="grid overflow-x-auto cont-scroll-y">
              <!-- Header -->
              <div
                class="inventory-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5 justify-between"
                matSort
                matSortDisableClear
              >
                <div class="">Nombre</div>
                <div class="">Usuario</div>
                <div class="">Instalaciones</div>
                <div class="">Fecha de registro</div>
                <div>Editar</div>
                <div>Asignaciones</div>
              </div>

              <!-- Rows -->
              <ng-container *ngIf="dispositivos$ | async as dispositivos">
                <ng-container
                  *ngFor="let dispositivo of dispositivos; trackBy: trackByFn"
                >
                  <div
                    class="inventory-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b justify-between"
                  >
                    <div class="truncate">
                      {{ dispositivo?.nombre }}
                    </div>
                    <div class="truncate">
                      {{ dispositivo?.usuario }}
                    </div>

                    <div class="truncate">
                      {{ dispositivo?.instalaciones }}
                    </div>

                    <!-- Modificado Por -->
                    <!--<div class="truncate">
                      <span
                        class="inline-flex items-center font-bold text-xs px-2.5 py-0.5 rounded-full tracking-wide uppercase"
                        [ngClass]="{
                          'bg-green-200 text-green-800 dark:bg-green-600 dark:text-green-50':
                            dispositivo.asignado,
                          'bg-red-200 text-red-800 dark:bg-red-600 dark:text-red-50':
                            !dispositivo.asignado
                        }"
                      >
                        {{ dispositivo.asignado ? "Asignado" : "No asignado" }}
                      </span>
                    </div>-->

                    <!-- Modificado Por -->
                    <div class="truncate">
                      {{ dispositivo?.fechaReg | date: "dd/MM/yy  h:mma" }}
                    </div>

                    <div class="truncate">
                      <button
                        class="min-w-7 w-7 min-h-7 h-7 mr-1"
                        mat-icon-button
                        matTooltip="Editar dispositivo"
                        (click)="editDevice(dispositivo)"
                      >
                        <mat-icon
                          class="icon-size-5 text-primary-500"
                          [svgIcon]="'heroicons_outline:pencil'"
                        ></mat-icon>
                      </button>
                    </div>

                    <div>
                      <button
                        class="min-w-7 w-7 min-h-7 h-7 mr-1"
                        mat-icon-button
                        matTooltip="Asignar dispositivo"
                        (click)="assignDevice(dispositivo)"
                      >
                        <mat-icon
                          class="icon-size-5 text-primary-500"
                          [svgIcon]="'heroicons_outline:arrow-circle-right'"
                        ></mat-icon>
                      </button>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </div>
            <mat-paginator
              class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
              [ngClass]="{ 'pointer-events-none': isLoading }"
              [length]="(pagination$ | async).length"
              [pageIndex]="(pagination$ | async).page"
              [pageSize]="(pagination$ | async)?.size || 10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              [showFirstLastButtons]="true"
              (page)="changePage($event)"
            ></mat-paginator>
          </ng-container>
        </ng-container>

        <ng-template #empty>
          <div
            class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center"
          >
            No hay dispositivos registrados
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
