
app-root {
    justify-content: center;
    app-redirecting {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}