<div mat-dialog-title class="flex justify-between items-center">
  <h4>Comentarios</h4>

  <button mat-icon-button type="button" (click)="matDialog.close()">
    <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
  </button>
</div>
<div mat-dialog-content class="pb-6">
  <mat-form-field class="w-full">
    <textarea
      class="w-full min-h-30"
      matInput
      placeholder="Escribir comentario"
    ></textarea>
  </mat-form-field>
  <div class="flex flex-col w-full gap-5">
    <button
      class="flex justify-center"
      mat-raised-button
      [color]="'primary'"
      (click)="submit()"
    >
      <span class="ml-2 mr-1">Agregar comentario</span>
    </button>
  </div>
</div>
