<div class="flex flex-col flex-auto min-w-0">
  <div
    class="
      flex flex-col
      sm:flex-row
      flex-0
      sm:items-center sm:justify-between
      p-6
      sm:py-8 sm:px-10
      border-b
      bg-card
      dark:bg-transparent
    "
  >
    <div class="flex-1 min-w-0">
      <div class="flex flex-wrap items-center font-medium">
        <div>
          <a class="whitespace-nowrap text-primary-500">Actividades</a>
        </div>
        <div class="flex items-center ml-1 whitespace-nowrap">
          <mat-icon
            class="icon-size-5 text-secondary"
            [svgIcon]="'heroicons_solid:chevron-right'"
          ></mat-icon>
          <a class="ml-1 text-primary-500">Ver informe</a>
        </div>
        <div class="flex items-center ml-1 whitespace-nowrap">
          <mat-icon
            class="icon-size-5 text-secondary"
            [svgIcon]="'heroicons_solid:chevron-right'"
          ></mat-icon>
          <span class="ml-1 text-secondary">{{ currentIdActivity }}</span>
        </div>
      </div>
      <div class="mt-2">
        <h2
          class="
            text-2xl
            font-extrabold
            tracking-tight
            leading-7
            sm:leading-10
            truncate
          "
        >
          {{ codeActivity }}
        </h2>
      </div>
    </div>
  </div>
  <mat-drawer-container class="flex-auto h-full min-h-70">
    <!-- Drawer -->
    <mat-drawer
      class="w-60 dark:bg-gray-900"
      [autoFocus]="false"
      [mode]="drawerMode"
      [opened]="drawerOpened"
      #matDrawer
    >
      <fuse-vertical-navigation
        *ngIf="displayNav"
        [navigation]="menuData"
        [inner]="true"
        [mode]="'side'"
        [name]="'docs-core-features-navigation'"
        [opened]="true"
      ></fuse-vertical-navigation>

      <div
        *ngIf="sectionName !== ''"
        class="p-4 mb-2 flex flex-col justify-center items-center gap-5"
      >
        <button
          *ngIf="!validateFormat()"
          class="text-white"
          mat-raised-button
          [color]="'primary'"
          [disabled]="!checkInformValidated()"
          (click)="postValidateFormat()"
        >
          <mat-icon
            class="text-white mr-1"
            svgIcon="heroicons_outline:check-circle"
          ></mat-icon>

          Validar formato
        </button>

        <div
          *ngIf="validateFormat()"
          class="flex items-center font-bold tracking-tight align-items"
        >
          <mat-icon
            class="text-green-600 mr-2"
            svgIcon="heroicons_outline:check-circle"
          ></mat-icon>
          <span>Formato validado</span>
        </div>

        <!--<button class="text-white bg-red-300" mat-raised-button disabled>
          <mat-icon
            class="text-white mr-1"
            svgIcon="heroicons_outline:annotation"
          ></mat-icon>
          <span class="text-white">Liberar formato</span>
        </button>-->
      </div>
    </mat-drawer>

    <!-- Drawer content -->
    <mat-drawer-content class="flex flex-col settings-users" fuseScrollReset>
      <!-- Main -->

      <router-outlet></router-outlet>

      <div
        class="
          sm:inset-0
          flex flex-col flex-auto
          min-w-0
          sm:overflow-hidden
          bg-card
          dark:bg-transparent
        "
      >
        <!-- Header -->
        <div
          class="
            relative
            flex flex-col
            sm:flex-row
            flex-0
            sm:items-center sm:justify-between
            py-8
            px-6
            md:px-8
            border-b
          "
        >
          <!-- Loader -->
          <div class="absolute inset-x-0 bottom-0">
            <!--<mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>-->
          </div>
          <!-- Title -->
          <div
            *ngIf="sectionName !== ''"
            class="flex flex-row justify-between items-center w-full"
          >
            <div class="flex flex-col activities-container">
              <div class="text-4xl font-extrabold tracking-tight">
                <span>{{ sectionName }}</span>
                <mat-icon
                  matTooltip="Seccion validada"
                  *ngIf="validateSection()"
                  class="text-green-600 ml-2"
                  svgIcon="heroicons_outline:check-circle"
                ></mat-icon>

                <mat-icon
                  matTooltip="Seccion aún no esta validada"
                  *ngIf="!validateSection()"
                  class="text-yellow-600 ml-2"
                  svgIcon="warning_amber"
                ></mat-icon>
              </div>
            </div>

            <button
              *ngIf="!validateSection()"
              mat-raised-button
              [color]="'secondary'"
              class="text-green-600"
              (click)="validate()"
            >
              <mat-icon svgIcon="heroicons_outline:check-circle"></mat-icon>
              <span class="ml-2 mr-1">Validar sección</span>
            </button>
          </div>
        </div>

        <!---->
        <div class="flex flex-auto overflow-hidden">
          <!-- Products list -->
          <div
            class="
              flex flex-col flex-auto
              overflow-hidden
              sm:overflow-y-auto
              bg-gray-100
            "
          >
            <ng-container>
              <form [formGroup]="form" novalidate>
                <div class="flex flex-col items-center">
                  <!--div
                    class="w-90 h-30 flex justify-center items-center"
                    *ngIf="loading"
                  >
                    <mat-progress-spinner
                      [diameter]="24"
                      [mode]="'indeterminate'"
                      *ngIf="loading"
                    ></mat-progress-spinner>
                  </div>-->
                  <div
                    class="min-w-80 w-full"
                    *ngIf="data.secciones.length > 0"
                    style="padding: 10px"
                  >
                    <div *ngFor="let seccion of data?.secciones; let i = index">
                      <ng-container
                        *ngFor="let grupo of seccion.grupos; let j = index"
                        class="
                          sm:col-span-2
                          md:col-span-4
                          flex
                          justify-start
                          gap-5
                          flex-wrap
                          p-6
                          bg-card
                          shadow
                          rounded-2xl
                          overflow-hidden
                          m-5
                        "
                      >
                        <div
                          class="
                            sm:col-span-2
                            md:col-span-4
                            flex flex-col
                            justify-start
                            gap-5
                            flex-wrap
                            p-6
                            bg-card
                            shadow
                            rounded-2xl
                            overflow-hidden
                            m-5
                          "
                          *ngIf="grupo.parametros.length > 0"
                        >
                          <div class="flex justify-between items-center">
                            <p
                              class="text-2xl font-medium mb-3 items-center"
                              *ngIf="grupo.visible"
                            >
                              {{ grupo?.nombre }}
                            </p>
                            <div class="flex gap-5 items-center justify-end">
                              <button
                                mat-raised-button
                                [color]="'secondary'"
                                (click)="observation[j] = !observation[j]"
                                [ngClass]="{
                                  'bg-red-200': observation[j],
                                  'border-red-300': observation[j],
                                  'border-solid': observation[j],
                                  'text-red-400': observation[j]
                                }"
                              >
                                <mat-icon
                                  svgIcon="heroicons_outline:annotation"
                                ></mat-icon>
                                <span class="ml-2 mr-1">Observar</span>
                              </button>

                              <button
                                *ngIf="!groups[j]"
                                mat-raised-button
                                [color]="'secondary'"
                                (click)="edit(j)"
                              >
                                <mat-icon
                                  svgIcon="heroicons_outline:pencil"
                                ></mat-icon>
                                <span class="ml-2 mr-1">Editar</span>
                              </button>

                              <button
                                *ngIf="groups[j]"
                                mat-raised-button
                                [color]="'secondary'"
                                (click)="onSubmit($event, j)"
                              >
                                <mat-icon
                                  svgIcon="heroicons_outline:save"
                                ></mat-icon>
                                <span class="ml-2 mr-1">Guardar</span>
                              </button>

                              <button
                                *ngIf="groups[j]"
                                mat-raised-button
                                [color]="'secondary'"
                                (click)="cancelEdit(j)"
                              >
                                <mat-icon
                                  svgIcon="heroicons_outline:x"
                                ></mat-icon>
                                <span class="ml-2 mr-1">Cancelar</span>
                              </button>
                            </div>
                          </div>
                          <!--<div
                            [ngClass]="{
                              'flex flex-col': grupo.pos === 'v',
                              'grid flex-row': grupo.pos === 'h'
                            }"
                          >-->
                          <div class="grid flex-row">
                            <ng-container
                              *ngFor="
                                let parametro of grupo.parametros;
                                let k = index
                              "
                            >
                              <div
                                class="flex w-60 min-w-60"
                                [ngClass]="{
                                  'mb-3': grupo.pos === 'v',
                                  'mr-3': grupo.pos === 'h'
                                }"
                                [ngStyle]="{
                                  'grid-area':
                                    parametro.fila +
                                    ' / ' +
                                    parametro.columna +
                                    ' / ' +
                                    (parametro.fila + 1) +
                                    ' / ' +
                                    (parametro.columna + 1)
                                }"
                                *ngIf="parametro.activo"
                                style="align-items: center"
                              >
                                <ng-container
                                  [ngSwitch]="parametro.idParametro"
                                >
                                  <!-- TEXTO -->
                                  <mat-form-field
                                    *ngSwitchCase="1"
                                    class="w-full font-semibold"
                                    floatLabel="always"
                                  >
                                    <mat-label *ngIf="parametro.visible">{{
                                      parametro.label
                                    }}</mat-label>
                                    <input
                                      matInput
                                      type="text"
                                      formControlName="{{getParametroControl({i, j, k})}}"
                                      placeholder="{{ parametro.placeholder }}"
                                    />
                                  </mat-form-field>

                                  <!-- NUMERICO -->

                                  <mat-form-field
                                    *ngSwitchCase="2"
                                    floatLabel="always"
                                    class="w-full"
                                  >
                                    <mat-label *ngIf="parametro.visible">{{
                                      parametro.label
                                    }}</mat-label>
                                    <input
                                      matInput
                                      type="number"
                                      formControlName="{{getParametroControl({i, j, k})}}"
                                      placeholder="{{ parametro.placeholder }}"
                                    />
                                  </mat-form-field>

                                  <!-- AREA_TEXTO -->
                                  <mat-form-field
                                    *ngSwitchCase="3"
                                    floatLabel="always"
                                    class="w-full"
                                  >
                                    <mat-label *ngIf="parametro.visible">{{
                                      parametro.label
                                    }}</mat-label>
                                    <textarea
                                      matInput
                                      formControlName="{{getParametroControl({i, j, k})}}"
                                      placeholder="{{ parametro.placeholder }}"
                                    ></textarea>
                                  </mat-form-field>

                                  <!-- UPLOAD (ARCHIVO) -->

                                  <div *ngSwitchCase="4" class="w-full">
                                    <p
                                      class="text-gray-900 font-medium"
                                      *ngIf="parametro.visible"
                                    >
                                      {{ parametro.label }}
                                    </p>
                                    <label class="file">
                                      <span>{{ parametro.placeholder }}</span>
                                      <input type="file" />
                                      <mat-progress-spinner
                                        *ngIf="
                                          filesLoading &&
                                          filesLoading[i + '-' + j + '-' + k]
                                        "
                                        [diameter]="24"
                                        [mode]="'indeterminate'"
                                      ></mat-progress-spinner>
                                      <mat-icon
                                        *ngIf="
                                          filesLoading &&
                                          !filesLoading[i + '-' + j + '-' + k]
                                        "
                                        [color]="'#94a3b8'"
                                        [svgIcon]="'heroicons_solid:upload'"
                                      ></mat-icon>
                                    </label>
                                    <p
                                      *ngIf="
                              form.get(getParametroControl({i, j, k})).value"
                                      (click)="clickOpenFile(form.get(getParametroControl({i, j, k})).value)"
                                    >
                                      Ver archivo
                                    </p>
                                  </div>

                                  <!-- FECHA -->
                                  <mat-form-field
                                    *ngSwitchCase="5"
                                    floatLabel="always"
                                    class="w-full"
                                  >
                                    <mat-label *ngIf="parametro.visible">{{
                                      parametro.label
                                    }}</mat-label>
                                    <input
                                      matInput
                                      [matDatepicker]="datepicker"
                                      placeholder="{{ parametro.placeholder }}"
                                      formControlName="{{ getParametroControl({i, j, k})}}"
                                    />
                                    <mat-error>
                                      {{ getErrorMessage(getParametroControl({i, j, k})) }}
                                    </mat-error>

                                    <mat-datepicker-toggle
                                      matSuffix
                                      [for]="datepicker"
                                    ></mat-datepicker-toggle>
                                    <mat-datepicker #datepicker>
                                      <mat-datepicker-actions>
                                        <button mat-button matDatepickerCancel>
                                          Cancel
                                        </button>
                                        <button
                                          mat-raised-button
                                          color="primary"
                                          matDatepickerApply
                                        >
                                          Aplicar
                                        </button>
                                      </mat-datepicker-actions>
                                    </mat-datepicker>
                                  </mat-form-field>

                                  <!-- IMAGEN -->
                                  <div *ngSwitchCase="6" class="w-full">
                                    <span
                                      class="text-gray-800 font-medium"
                                      *ngIf="parametro.visible"
                                      >{{ parametro.label }}</span
                                    >
                                    <ui-upload-file
                                      [required]="parametro.obligatorio"
                                      [editable]="editable(j)"
                                      [type]="'imagen'"
                                      [image]="
                                        parametro.valor !== '' &&
                                        parametro.valor !== null
                                          ? setImage(parametro.valor)
                                          : setImage(parametro.dato)
                                      "
                                      [loading]="filesLoading[getParametroControl({i, j, k})]"
                                      (sourceFile)="onChageFile($event, getParametroControl({i, j, k}))"
                                    ></ui-upload-file>
                                  </div>

                                  <!-- FIRMA -->
                                  <div *ngSwitchCase="7" class="w-full">
                                    <span
                                      class="text-gray-800 font-medium"
                                      *ngIf="parametro.visible"
                                      >{{ parametro.label }}</span
                                    >
                                    <ui-upload-file
                                      [type]="'firma'"
                                      [editable]="editable(j)"
                                      [image]="
                                        parametro.valor !== '' &&
                                        parametro.valor !== null
                                          ? setImage(parametro.valor)
                                          : setImage(parametro.dato)
                                      "
                                      [loading]="filesLoading[getParametroControl({i, j, k})]"
                                      (sourceFile)="onChageFile($event, getParametroControl({i, j, k}))"
                                    ></ui-upload-file>
                                  </div>

                                  <!-- LABEL -->
                                  <div *ngSwitchCase="8" class="w-full">
                                    <p class="text-gray-900 font-medium">
                                      {{ parametro.label | uppercase }}
                                    </p>
                                  </div>

                                  <!--checkbox-->
                                  <div *ngSwitchCase="9" class="w-full">
                                    <div class="flex flex-col">
                                      <mat-label *ngIf="parametro.visible"
                                        >{{ parametro.label }}
                                      </mat-label>
                                      <mat-slide-toggle
                                        [color]="'primary'"
                                        formControlName="{{ getParametroControl({i, j, k})}}"
                                      ></mat-slide-toggle>
                                    </div>
                                  </div>

                                  <!--SELECT-->
                                  <div *ngSwitchCase="10" class="w-full">
                                    <div class="flex flex-col">
                                      <mat-form-field floatLabel="always">
                                        <mat-label *ngIf="parametro.visible">{{
                                          parametro.label
                                        }}</mat-label>
                                        <mat-select
                                          placeholder="{{
                                            parametro.placeholder
                                          }}"
                                          formControlName="{{ getParametroControl({i, j, k})}}"
                                          [value]="parametro.valor"
                                        >
                                          <mat-option
                                            *ngFor="
                                              let option of splitOptions(
                                                parametro.dato
                                              )
                                            "
                                            [value]="option"
                                            >{{ option }}</mat-option
                                          >
                                        </mat-select>
                                      </mat-form-field>
                                    </div>
                                  </div>
                                  <!--SELECT-->

                                  <mat-icon
                                    *ngIf="observation[j]"
                                    [matTooltip]="observeToolTip(i, j, k)"
                                    [ngClass]="{
                                      'text-red-600': isObserve(i, j, k),
                                      'text-red-300': !isObserve(i, j, k)
                                    }"
                                    class="ml-2 text-red-300 cursor-pointer"
                                    svgIcon="heroicons_outline:annotation"
                                    (click)="addComment(j, k)"
                                  ></mat-icon>
                                </ng-container>
                              </div>
                            </ng-container>
                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </form>
            </ng-container>
          </div>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
