.ui-upload-file {

    button {
        position: relative;
        background: beige;
        top: -180px;
        right: -140px;

        
      }
    
    .option-add {
        width: 100%;
        height: auto;
        flex: 0 0 auto;
        //margin: 4px;
        //margin-bottom: 16px;
        border: 1px solid #d3d3d3;
        background-color: #f2f2f2;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        span {
            opacity: 0.6
        }
    }

    .proof-images-container {
        display: flex;
        max-width: 400px;
        overflow: auto;

        .img-container {
            border: solid 0.5px gray; 
            border-radius: 10px;
        }
    }

    .img-container {
        width: 100%;
        //height: 120px;
        margin: 0 4px;
        border: solid 0.5px gray; 
        border-radius: 10px;
        border-color: rgba(203, 213, 225, var(--tw-border-opacity)) !important;
    
        img {
            
            //height: 120px;
            object-fit: contain;
            border-radius: 10px;
            padding: 3px;
        }
    
        button {
            position: relative;
            background: beige;
            top: -120px;
            right: -200px;
            padding: 2px 5px; 
            border-radius: 50px;

            mat-icon {
                font-size: 20px !important; 
                margin-top: 2px
            }
        }
    }
    .img-placeholder {
        text-align: -webkit-center;
    }

    .required-field {
        color: var(--fuse-warn);
        font-size: 12px;
        font-weight: 500;
        line-height: 1;
        margin: 4px;
    }

    .spinner {
        height: 45px!important;
    }
}

.noPointer {
    cursor:unset;
}