<form [formGroup]="form">
  <div mat-dialog-title class="flex justify-between items-center">
    <h4 class="font-bold">Agregar equipo</h4>
    <button mat-icon-button type="button" (click)="matdialigRef.close()">
      <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
    </button>
  </div>
  <div mat-dialog-content class="pb-6">
    <div class="flex flex-col w-full">
      <!-- Nombre -->

      <mat-form-field floatLabel="always" class="w-100-p">
        <mat-label>Nombre</mat-label>
        <input
          matInput
          type="text"
          formControlName="nombre"
          placeholder="Ingrese nombre"
          autocomplete="off"
        />
        <mat-error *ngIf="form.controls['nombre'].invalid">{{
          matErrorMsg
        }}</mat-error>
      </mat-form-field>

      <mat-form-field floatLabel="always" class="w-100-p">
        <mat-label>TAG</mat-label>
        <input
          matInput
          type="text"
          formControlName="tag"
          placeholder="Ingrese TAG"
        />
        <mat-error *ngIf="form.controls['tag'].invalid">{{
          matErrorMsg
        }}</mat-error>
      </mat-form-field>

      <mat-form-field class="w-100-p">
        <mat-label class="prose">Tipo de equipo</mat-label>
        <mat-select
          formControlName="idTipoEquipo"
          [value]="form.controls['idTipoEquipo'].value"
        >
          <mat-option
            *ngFor="let tipo_equipo of tipo_equipos"
            [value]="tipo_equipo.id"
            >{{ tipo_equipo.nombre }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100-p">
        <mat-label class="prose">Modelo</mat-label>
        <mat-select
          formControlName="idModelo"
          [value]="form.controls['idModelo'].value"
          (selectionChange)="setModelo($event)"
        >
          <mat-option *ngFor="let modelo of modelosData" [value]="modelo.id">{{
            modelo.nombre
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-100-p">
        <mat-label class="prose">Flota</mat-label>
        <mat-select
          formControlName="idFlota"
          (selectionChange)="flotaSelected($event)"
        >
          <mat-option *ngFor="let flota of flotasData" [value]="flota.id">{{
            flota.nombre
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field floatLabel="always" class="w-100-p">
        <mat-label class="prose">Cliente</mat-label>
        <input matInput type="text" formControlName="cliente" />
        <mat-error *ngIf="form.controls['cliente'].invalid">{{
          matErrorMsg
        }}</mat-error>
      </mat-form-field>

      <mat-slide-toggle
        class="self-end"
        color="primary"
        (change)="check($event)"
        [checked]="form.controls['estado'].value === 1 ? true : false"
      >
        Estado
      </mat-slide-toggle>
    </div>
  </div>
  <div mat-dialog-actions class="flex justify-center px-6 gap-5">
    <button
      (click)="matdialigRef.close()"
      mat-button
      class="ml-4 bg-gray-50 border-solid border border-accent-300 text-gray-700 shadow-none"
    >
      Cancelar
    </button>
    <button
      *ngIf="!isEdit"
      mat-raised-button
      [color]="'primary'"
      class="w-32"
      (click)="submit()"
      [disabled]="form.invalid"
    >
      <mat-progress-spinner
        *ngIf="isLoading"
        [diameter]="24"
        [mode]="'indeterminate'"
      ></mat-progress-spinner>
      <span>Crear</span>
    </button>

    <button
      *ngIf="isEdit"
      mat-raised-button
      [color]="'primary'"
      class="w-32"
      (click)="submit('edit')"
      [disabled]="form.invalid"
    >
      <mat-progress-spinner
        *ngIf="isLoading"
        [diameter]="24"
        [mode]="'indeterminate'"
      ></mat-progress-spinner>
      <span>Editar</span>
    </button>
  </div>
</form>
