
.bg {
  &-dcp {
    background-color: #DC201C !important;
  }

  &-kmmp {
    background-color: #000F9F !important;
  }
}

body.light .mat-form-field-appearance-fill.mat-form-field-disabled .mat-form-field-flex {
  background-color:  rgba(0, 0, 0, 0.1)!important;
}