<div class="flex flex-col lg:flex-row justify-between w-max">
  <div class="flex flex-col border-r pr-8">
    <div class="flex flex-col ml-1.5 gap-5">
      <div class="flex flex-col mb-2">
        <div class="text-md text-secondary">Descripción de la actividad</div>
        <span class="font-semibold">Demora leve observaciones</span>
      </div>

      <div class="flex gap-5">
        <div class="flex flex-col">
          <span class="text-md text-secondary">Flota</span>
          <span class="font-semibold">Palas</span>
        </div>

        <div class="flex flex-col">
          <span class="text-md text-secondary">TAG</span>
          <span class="font-semibold">SH1</span>
        </div>

        <div class="flex flex-col">
          <span class="text-md text-secondary">OS</span>
          <span class="font-semibold">DSDFSFE4FETEFD</span>
        </div>

        <div class="flex flex-col">
          <span class="text-md text-secondary">PE</span>
          <span class="font-semibold">fd766767dfdf7</span>
        </div>
      </div>

      <div class="flex gap-5">
        <div class="flex flex-col">
          <span class="text-md text-secondary">Nro BL</span>
          <span class="font-semibold">43354545</span>
        </div>

        <div class="flex flex-col">
          <span class="text-md text-secondary">Fecha de carga</span>
          <span class="font-semibold">31/10/2021</span>
        </div>
      </div>
    </div>
    <hr />

    <div class="flex ml-1.5 gap-5">
      <div class="flex flex-col gap-5">
        <div class="flex flex-col mr-4">
          <span class="text-md text-secondary">Fecha estimada</span>
          <span class="font-semibold">12/11/2021 - 20/11/2021</span>
        </div>

        <div class="flex flex-col mr-4">
          <span class="text-md text-secondary">Fecha y hora reales</span>
          <div class="flex flex-col">
            <span class="text-red-600 font-bold">12/11/2021 8:00: AM</span>
            <span class="text-red-600 font-bold">15/11/2021 2:00: PM</span>
          </div>
        </div>
      </div>

      <div class="flex flex-col gap-5">
        <div class="flex flex-col">
          <span class="text-md text-secondary">Duración estimada</span>
          <span class="font-semibold">20h</span>
        </div>

        <div class="flex flex-col">
          <span class="text-md text-secondary">Duración</span>
          <span class="text-red-600 font-bold">20h</span>
        </div>
      </div>
    </div>
    <hr />
    <div class="flex flex-col ml-1.5 gap-5">
      <div class="flex flex-col mb-2">
        <div class="text-md text-secondary">Cometarios del técnico</div>
        <span class="font-semibold">Demora leve observaciones H303</span>
      </div>
    </div>
  </div>

  <div
    *ngIf="activityData.formatos && activityData.formatos.length > 0"
    class="flex flex-col justify-between lg:pl-8"
  >
    <div class="format h-3/4 w-3/4">
      <div class="text-md text-secondary">Formatos</div>
      <div class="flex flex-col lg:flex-row lg:flex-wrap gap-4">
        <div
          class="flex flex-row items-center"
          *ngFor="let format of activityData.formatos; let i = index"
        >
          <button
            mat-button
            class="w-60 border-red-300 rounded-md border-format-button"
          >
            <div class="flex flex-row justify-between items-center w-52">
              <div>
                <span>{{ format.name }}</span>
              </div>
              <div class="flex flex-row items-center gap-1">
                <span>{{ format.porcentage }}</span
                ><mat-icon
                  class="text-red-300"
                  svgIcon="warning_amber"
                ></mat-icon>
              </div>
            </div>
          </button>
          <button *ngIf="isEdit" mat-icon-button>
            <mat-icon
              (click)="removeFormat(i)"
              svgIcon="heroicons_outline:trash"
            ></mat-icon>
          </button>
        </div>
      </div>

      <div class="p-2">
        <button
          class="mr-8"
          mat-raised-button
          [color]="'primary'"
          (click)="isEdit = !isEdit"
        >
          <mat-icon
            [svgIcon]="
              isEdit ? 'heroicons_outline:save' : 'heroicons_outline:pencil-alt'
            "
          ></mat-icon>
          <span class="ml-2 mr-1">{{
            isEdit ? "Guardar cambios" : "Editar formatos"
          }}</span>
        </button>

        <button
          *ngIf="isEdit"
          class="mr-8 mt-4 xl:my-0"
          mat-raised-button
          [color]="'primary'"
          (click)="isEdit = false"
        >
          <mat-icon svgIcon="mat_outline:cancel"></mat-icon>
          <span class="ml-2 mr-1">Cancelar</span>
        </button>
      </div>
    </div>
    <hr />

    <div
      *ngIf="!isEdit; else edit"
      class="porcentage-progress h-1/4 flex flex-col gap-5 w-3/4"
    >
      <div class="flex flex-row justify-between">
        <div class="text-md text-secondary w-3/4">Porcentaje de avance</div>
        <span
          class="
            inline-flex
            items-center
            font-bold
            text-xs
            px-2.5
            py-0.5
            rounded-full
            tracking-wide
            uppercase
            bg-red-200
            text-red-800
            dark:bg-red-600 dark:text-red-50
          "
        >
          <span class="leading-relaxed whitespace-nowrap">Observada</span>
        </span>
      </div>
      <div class="flex flex-row justify-between items-center">
        <mat-progress-bar
          class="h-2 w-3/4 rounded-full"
          value="75"
        ></mat-progress-bar>
        <span>75%</span>
      </div>
    </div>

    <!--<ng-template #edit>
      <div class="flex justify-end items-center">
        <button class="mr-8" mat-raised-button [color]="'secondary'">
          <span class="ml-2 mr-1">Cancelar</span>
        </button>

        <button class="mr-8" mat-raised-button [color]="'primary'">
          <span class="ml-2 mr-1">Guardar</span>
        </button>
      </div>
    </ng-template>-->
  </div>

  <!--<ng-template #emptyState>
    <div class="flex flex-col justify-center items-center" style="width: 950px">
      <span class="text-secondary font-semibold mb-1"
        >No tienes ningún formato asignado</span
      >
      <button
        class="justify-between"
        mat-raised-button
        [color]="'primary'"
        (click)="assignFormat()"
      >
        <mat-icon svgIcon="heroicons_outline:plus-sm"></mat-icon>

        <span class="ml-2 mr-1">Asignar formato</span>
      </button>
    </div>
  </ng-template>-->
</div>
