<div class="inset-0 flex flex-col min-w-0 overflow-hidden w-full">
  <mat-drawer-container class="flex-auto h-full">
    <mat-drawer
      class="w-60 dark:bg-gray-900"
      [autoFocus]="false"
      [mode]="drawerMode"
      [opened]="drawerOpened"
      #matDrawer
    >
      <!-- Menu-->

      <div class="flex flex-col p-5 pb-0 form-title gap-2">
        <div class="d-flex items-center font-bold">
          {{ formato$ | async | uppercase }}
        </div>
        <div class="d-flex items-center">
          <span class="font-bold">Modelo: </span>
          <span>{{ modelo$ | async }}</span>
        </div>
        <div class="d-flex items-center">
          <span class="font-bold">T.de Mantenimiento: </span>
          <span>{{ tipoMantenimiento$ | async }}</span>
        </div>
        <div class="d-flex items-center">
          <span class="font-bold">Actividad: </span>
          <span>{{ actividad$ | async }}</span>
        </div>
      </div>

      <div class="flex flex-col section p-3 pt-1" id="items">
        <a
          class="flex items-center justify-between section__menu mb-0.5"
          *ngFor="let menu of menuData; let i = index"
          routerLinkActive="active"
          routerLink="{{ menu.link }}"
        >
          <span>{{ menu.title }}</span>

          <!--<mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>-->

          <div *ngIf="menuData.length > 0">
            <button
              mat-icon-button
              [matMenuTriggerFor]="menu"
              aria-label="Toggle menu"
            >
              <mat-icon svgIcon="heroicons_outline:dots-vertical"></mat-icon>
            </button>

            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Editar</button>
              <button (click)="deleteSection(menuData[i])" mat-menu-item>
                Eliminar
              </button>
            </mat-menu>
          </div>
        </a>
      </div>
      <mat-divider></mat-divider>

      <div class="p-4">
        <button mat-button color="primary" (click)="clickNewSeccion()">
          <mat-icon [svgIcon]="'heroicons_solid:plus'"></mat-icon>
          Agregar sección
        </button>
      </div>
      <mat-divider></mat-divider>
    </mat-drawer>
    <!-- Drawer content -->
    <mat-drawer-content class="flex flex-col" fuseScrollReset>
      <!-- Main -->
      <div class="flex-auto">
        <div class="flex flex-col relative flex-auto min-w-0 mb-6">
          <div class="absolute inset-x-0 top-0" *ngIf="loading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
          </div>
          <!-- Header -->
          <div
            class="
              flex flex-col
              sm:flex-row
              flex-0
              sm:items-center sm:justify-between
              p-6
              sm:py-8 sm:px-10
              h-30
              border-b
              bg-card
              dark:bg-transparent
            "
            *ngIf="menuData.length > 0 && currentSeccion"
          >
            <ng-container *ngIf="!loading || currentSeccion">
              <div class="flex-1 min-w-0">
                <!-- Breadcrumbs -->
                <div class="flex w-full justify-between">
                  <div class="flex flex-wrap items-center font-medium">
                    <h2
                      class="
                        text-3xl
                        md:text-4xl
                        font-extrabold
                        tracking-tight
                        leading-7
                        sm:leading-10
                        truncate
                        max-w-3xl
                      "
                    >
                      {{ currentSeccion }}
                      <!--button mat-icon-button color="primary">
                        <mat-icon
                          class="icon-size-4 text-primary-500"
                          [svgIcon]="'heroicons_outline:trash'"
                        ></mat-icon>
                      </button>-->
                    </h2>
                  </div>
                  <div class="flex flex-col w-auto items-center">
                    <div class="flex w-auto items-center mb-3">
                      <mat-icon
                        class="icon-size-5 text-gray-700"
                        [svgIcon]="'heroicons_outline:check-circle'"
                      ></mat-icon>
                      <h6 class="ml-1 text-base font-medium text-gray-700">
                        Guardado automáticamente
                      </h6>
                    </div>
                    <button
                      class="sm:ml-0 mb-2 sm:mb-0 order-first sm:order-last"
                      mat-raised-button
                      [color]="'primary'"
                      (click)="clickPrevisualizar()"
                    >
                      <mat-icon [svgIcon]="'heroicons_outline:eye'"></mat-icon>
                      <span class="ml-3">Previsualizar</span>
                    </button>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>

          <div
            class="flex-auto w-full p-6 sm:p-10 groups"
            *ngIf="!loading || !currentSeccion"
          >
            <h3
              class="
                text-3xl
                md:text-3xl
                font-extrabold
                tracking-tight
                leading-7
                sm:leading-10
                truncate
              "
              *ngIf="
                currentSeccion && grupos.length === 0 && menuData.length > 0
              "
            >
              No existen grupos aún
            </h3>

            <h3
              class="
                text-3xl
                md:text-3xl
                font-extrabold
                tracking-tight
                leading-7
                sm:leading-10
                truncate
              "
              *ngIf="menuData.length === 0"
            >
              No existe contenido
            </h3>

            <h3
              class="
                text-3xl
                md:text-3xl
                font-extrabold
                tracking-tight
                leading-7
                sm:leading-10
                truncate
              "
              *ngIf="!currentSeccion && menuData.length > 0"
            >
              Debe seleccionar una sección
            </h3>
            <ng-container *ngIf="grupos.length > 0 && validSection">
              <app-grupos
                *ngFor="let grupo of grupos"
                [data]="grupo"
              ></app-grupos>
            </ng-container>
          </div>
        </div>
        <!-- Footer -->
      </div>
      <div
        class="
          absolute
          flex flex-0
          items-center
          justify-end
          w-full
          h-16
          px-4
          z-49
          border-t
          dark:bg-transparent
          print:hidden
          bottom-0
        "
      >
        <span class="font-medium text-secondary">
          <button
            *ngIf="idSection !== 0 && validSection"
            mat-button
            color="primary"
            (click)="clickNewGrupo()"
          >
            <mat-icon [svgIcon]="'heroicons_solid:plus'"></mat-icon>
            Agregar grupo
          </button>
        </span>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
