<ng-container *ngIf="renderTemplate">
  <div
    [disabled]="!editable"
    [hidden]="edit"
    class="text-gray-900 font-medium cursor-pointer"
    [ngStyle]="{ width: position === 'h' ? '10rem' : '23rem' }"
    style="text-overflow: ellipsis; overflow: hidden; max-height: 4rem"
    [matTooltip]="label"
  >
    <label
      class="label-edit cursor-pointer"
      [ngStyle]="{
        visibility: !visible
          ? 'hidden'
          : !label || label === ''
          ? 'hidden'
          : 'visible'
      }"
      >{{ !label || label === "" ? "a" : label }}</label
    >
  </div>
  <div
    class="flex gap-1"
    [ngStyle]="{ width: position === 'h' ? '10rem' : '23rem' }"
  >
    <input
      [hidden]="!edit"
      #nameInput
      class="sm:text-lg leading-6 truncate"
      [(ngModel)]="label"
    />
    <mat-icon
      class="cursor-pointer"
      *ngIf="edit"
      [svgIcon]="'heroicons_outline:save'"
      matTooltip="Guardar"
      (click)="saveLabelFn()"
    >
    </mat-icon>
  </div>
</ng-container>
