<div class="flex justify-center items-center gap-40">
  <div id="barChart">
    <apx-chart
      [series]="basicBarChartData.series"
      [chart]="basicBarChartData.chart"
      [dataLabels]="basicBarChartData.dataLabels"
      [plotOptions]="basicBarChartData.plotOptions"
      [xaxis]="basicBarChartData.xaxis"
      [title]="Postergadas"
    ></apx-chart>
  </div>

  <div id="barChartHor">
    <apx-chart
      [series]="basicBarCharHortData.series"
      [chart]="basicBarCharHortData.chart"
      [dataLabels]="basicBarCharHortData.dataLabels"
      [plotOptions]="basicBarCharHortData.plotOptions"
      [xaxis]="basicBarCharHortData.xaxis"
      [title]="Causas"
    ></apx-chart>
  </div>
</div>
