<!--The content below is only a placeholder and can be replaced.-->

<mat-progress-bar *ngIf="loading" [mode]="'indeterminate'"></mat-progress-bar>
<div
  class="flex flex-col md:flex-row justify-center items-center gap-40"
  *ngIf="!loading"
>
  <div id="pieChart" *ngIf="displayPieChart()">
    <apx-chart
      [series]="pieViewData?.series"
      [chart]="pieViewData?.chart"
      [labels]="pieViewData?.labels"
      [responsive]="pieChartData?.responsive"
      [colors]="colors"
      [legend]="legend"
      [title]="general"
    ></apx-chart>
  </div>
  <div id="barChart" *ngIf="displayBarChart()">
    <apx-chart
      [series]="BasiBarChart?.series"
      [chart]="BasiBarChart?.chart"
      [dataLabels]="BasiBarChart?.dataLabels"
      [plotOptions]="BasiBarChart?.plotOptions"
      [xaxis]="BasiBarChart?.xaxis"
      [title]="state"
    ></apx-chart>
  </div>
</div>
