<div
  class="sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent"
>
  <!-- Header -->
  <div
    class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b"
  >
    <!-- Loader -->
    <div class="absolute inset-x-0 bottom-0">
      <mat-progress-bar
        *ngIf="isLoading"
        [mode]="'indeterminate'"
      ></mat-progress-bar>
    </div>
    <!-- Title -->
    <div class="flex flex-row justify-start items-center w-full">
      <div class="flex flex-col activities-container">
        <div class="text-4xl font-extrabold tracking-tight">
          <span *ngIf="isEdit">Editar actividad</span>
          <span *ngIf="!isEdit">Crear actividad</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Main -->
  <div class="flex flex-auto overflow-hidden">
    <!-- Products list -->
    <div
      class="flex flex-col flex-auto overflow-hidden sm:overflow-y-auto bg-gray-100"
    >
      <div
        class="sm:col-span-2 md:col-span-4 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden m-5"
      >
        <form [formGroup]="form">
          <div class="flex flex-row justify-start gap-10 mb-5">
            <mat-form-field class="w-1/4">
              <mat-label class="font-bold">Cliente</mat-label>
              <mat-select
                formControlName="cliente"
                [value]="form.controls['cliente'].value"
                (selectionChange)="setBay($event.value)"
              >
                <mat-option
                  *ngFor="let cliente of clientsOpt"
                  [value]="cliente.id"
                  >{{ cliente.nombre }}</mat-option
                >
              </mat-select>
            </mat-form-field>

            <mat-form-field class="w-1/4">
              <mat-label class="font-bold">Equipo</mat-label>
              <mat-select
                formControlName="idEquipo"
                [value]="form.controls['idEquipo'].value"
                (selectionChange)="getEquiposData($event.value)"
              >
                <mat-option
                  *ngFor="let equipo of equiposOpt"
                  [value]="equipo.id"
                  >{{ equipo.nombre }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>

          <div class="flex flex-row justify-start gap-10 mb-5">
            <mat-form-field class="w-1/4">
              <mat-label class="font-bold">Modelo</mat-label>
              <input matInput formControlName="modelo" />
            </mat-form-field>

            <mat-form-field class="w-1/4">
              <mat-label class="font-bold">Flota</mat-label>
              <input matInput formControlName="flota" />
            </mat-form-field>

            <mat-form-field class="w-1/4">
              <mat-label class="font-bold">Tipo equipo</mat-label>
              <input matInput formControlName="tipo_equipo" />
            </mat-form-field>
          </div>
          <hr />

          <div class="flex flex-row justify-between mb-5">
            <mat-form-field class="w-1/5">
              <mat-label class="font-bold">Clase de actividad</mat-label>
              <mat-select
                formControlName="actividad"
                [value]="form.controls['actividad'].value"
                (selectionChange)="getTipoMtto($event.value)"
              >
                <mat-option
                  *ngFor="let actividad of clase_actividadesOpt"
                  [value]="actividad.id"
                  >{{ actividad.nombre }}</mat-option
                >
              </mat-select>
            </mat-form-field>

            <mat-form-field class="w-1/5">
              <mat-label class="font-bold">Tipo mantenimiento</mat-label>
              <mat-select
                *ngIf="enableTipoMtto"
                formControlName="tipo_mantenimiento"
                [value]="form.controls['tipo_mantenimiento'].value"
                [disabled]="form.controls['actividad'].value === ''"
              >
                <mat-option
                  *ngFor="let tipo_mantenimiento of tipo_mttoOpt"
                  [value]="tipo_mantenimiento.id"
                  >{{ tipo_mantenimiento.nombre }}</mat-option
                >
              </mat-select>

              <input
                *ngIf="!enableTipoMtto"
                matInput
                formControlName="tipo_mantenimiento"
              />
              <mat-error *ngIf="!isEdit && tipo_mttoOpt.length === 0"
                >No existen tipo de mantenimeintos para dicha clase de
                actividad!</mat-error
              >
            </mat-form-field>

            <mat-form-field class="w-1/5">
              <mat-label class="font-bold">Bahía asignada</mat-label>
              <mat-select
                formControlName="bahia_asignada"
                [value]="form.controls['bahia_asignada'].value"
              >
                <mat-option
                  *ngFor="let bahia_asignada of bahiasOpt"
                  [value]="bahia_asignada.id"
                  >{{ bahia_asignada.nombre }}</mat-option
                >
              </mat-select>
            </mat-form-field>

            <mat-form-field class="w-1/5">
              <mat-label class="font-bold">Tipo de solicitud</mat-label>
              <mat-select
                formControlName="tipo_solicitud"
                [value]="form.controls['tipo_solicitud'].value"
              >
                <mat-option
                  *ngFor="let tipo_solicitud of tipo_solicitudes"
                  [value]="tipo_solicitud.id"
                  >{{ tipo_solicitud.nombre }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>

          <div class="flex flex-row justify-start gap-10 mb-5">
            <mat-form-field class="w-full">
              <mat-label class="font-bold">Descripción de actividad</mat-label>
              <textarea
                class="resize-none"
                formControlName="descripcion_actividad"
                matInput
                placeholder="Descripción de la actividad"
              ></textarea>
            </mat-form-field>
          </div>

          <div class="flex flex-row justify-start gap-10 mb-5">
            <mat-form-field class="w-1/4">
              <mat-label class="font-bold">N° BL</mat-label>
              <input matInput value="sdsdsdsdsd" formControlName="numero_bl" />
            </mat-form-field>

            <div
              [formGroup]="formOS"
              class="w-1/4 flex flex-row items-center"
              *ngFor="let service_order of service_orders; let i = index"
            >
              <mat-form-field class="w-full">
                <mat-label *ngIf="i === 0" class="font-bold"
                  >N° de OS</mat-label
                >
                <mat-label *ngIf="i > 0"></mat-label>
                <input matInput formControlName="{{ i }}" />
              </mat-form-field>
              <button
                *ngIf="i === 0; else trash"
                (click)="addOS()"
                mat-icon-button
                class="mt-1 ml-1 bg-gray-200"
                [disabled]="isEdit"
              >
                <mat-icon
                  class="text-blue-900"
                  svgIcon="heroicons_outline:plus"
                ></mat-icon>
              </button>
              <ng-template #trash>
                <button
                  mat-icon-button
                  (click)="removeOS(i)"
                  class="mt-1 ml-1 bg-red-100"
                  [disabled]="isEdit"
                >
                  <mat-icon class="text-red-600" svgIcon="close"></mat-icon>
                </button>
              </ng-template>
            </div>
          </div>
          <div
            [formGroup]="formPE"
            class="flex flex-row justify-start gap-10 mb-5"
          >
            <div
              class="w-1/4 flex flex-row items-center"
              *ngFor="let pe_item of pe_items; let i = index"
            >
              <mat-form-field class="w-full">
                <mat-label *ngIf="i === 0" class="font-bold"
                  >N° de PE</mat-label
                >
                <mat-label *ngIf="i > 0"></mat-label>
                <input matInput formControlName="{{ i }}" />
              </mat-form-field>
              <button
                *ngIf="i === 0; else trashPe"
                (click)="addPE()"
                mat-icon-button
                class="mt-1 ml-1 bg-gray-200"
                [disabled]="isEdit"
              >
                <mat-icon
                  class="text-blue-900"
                  svgIcon="heroicons_outline:plus"
                ></mat-icon>
              </button>
              <ng-template #trashPe>
                <button
                  mat-icon-button
                  (click)="removePE(i)"
                  class="mt-1 ml-1 bg-red-100"
                  [disabled]="isEdit"
                >
                  <mat-icon class="text-red-600" svgIcon="close"></mat-icon>
                </button>
              </ng-template>
            </div>
          </div>

          <hr />

          <div *ngIf="isEdit" class="flex flex-row justify-start gap-10 mb-5">
            <!-- <mat-form-field class="w-1/4">
              <mat-label class="font-bold">Fecha estimada</mat-label>
              <input
                matInput
                [matDatepicker]="datepicker1"
                formControlName="fechaEstimadaFin"
              />

              <mat-datepicker-toggle
                matSuffix
                [for]="datepicker1"
              ></mat-datepicker-toggle>
              <mat-datepicker #datepicker1>
                <mat-datepicker-actions>
                  <button mat-button matDatepickerCancel>Cancel</button>
                  <button mat-raised-button color="primary" matDatepickerApply>
                    Aplicar
                  </button>
                </mat-datepicker-actions>
              </mat-datepicker>
            </mat-form-field>-->

            <!--<mat-form-field class="w-1/4">
              <mat-label class="font-bold">Duración estimado</mat-label>
              <input matInput value="12:00" formControlName="duracion" />
            </mat-form-field>-->
          </div>

          <div *ngIf="isEdit" class="flex flex-row justify-start gap-10 mb-5">
            <mat-form-field class="w-1/4">
              <mat-label class="font-bold"
                >Fecha y hora real - Inicio</mat-label
              >
              <input
                matInput
                [matDatepicker]="datepicker2"
                formControlName="fechaRealIni"
              />

              <mat-datepicker-toggle
                matSuffix
                [for]="datepicker2"
              ></mat-datepicker-toggle>
              <mat-datepicker #datepicker2>
                <mat-datepicker-actions>
                  <button mat-button matDatepickerCancel>Cancel</button>
                  <button mat-raised-button color="primary" matDatepickerApply>
                    Aplicar
                  </button>
                </mat-datepicker-actions>
              </mat-datepicker>
            </mat-form-field>

            <mat-form-field class="w-1/4">
              <mat-label class="font-bold">Fecha y hora real - Final</mat-label>
              <input
                matInput
                [matDatepicker]="datepicker3"
                formControlName="fechaRealFin"
              />

              <mat-datepicker-toggle
                matSuffix
                [for]="datepicker3"
              ></mat-datepicker-toggle>
              <mat-datepicker #datepicker3>
                <mat-datepicker-actions>
                  <button mat-button matDatepickerCancel>Cancel</button>
                  <button mat-raised-button color="primary" matDatepickerApply>
                    Aplicar
                  </button>
                </mat-datepicker-actions>
              </mat-datepicker>
            </mat-form-field>

            <mat-form-field class="w-1/4">
              <mat-label class="font-bold">Duración Real</mat-label>
              <input matInput value="12:00" formControlName="duracionReal" />
            </mat-form-field>
          </div>

          <!--<div *ngIf="isEdit" class="flex flex-row justify-start gap-10 mb-5">
            <mat-form-field class="w-full">
              <mat-label class="font-bold">Comentarios del técnico</mat-label>
              <textarea
                class="resize-none"
                formControlName="comentariosTecnico"
                matInput
                placeholder="Cometarios del técnico"
              ></textarea>
            </mat-form-field>
          </div>-->

          <div class="flex flex-row justify-end">
            <button
              class="mr-8"
              mat-raised-button
              [color]="'secondary'"
              routerLink="/admin/actividades/list"
            >
              <span class="ml-2 mr-1">Cancelar</span>
            </button>

            <button
              *ngIf="isEdit"
              mat-raised-button
              [color]="'primary'"
              (click)="saveActivity()"
              [disabled]="loadLoading"
            >
              <mat-progress-spinner
                *ngIf="loadLoading"
                [diameter]="24"
                [mode]="'indeterminate'"
              ></mat-progress-spinner>
              <span class="ml-2 mr-1">Guardar</span>
            </button>

            <button
              *ngIf="!isEdit"
              mat-raised-button
              [color]="'primary'"
              (click)="addSingleActivity()"
              [disabled]="form.invalid || loadLoading"
            >
              <mat-progress-spinner
                *ngIf="loadLoading"
                [diameter]="24"
                [mode]="'indeterminate'"
              ></mat-progress-spinner>
              <span class="ml-2 mr-1">Crear</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
