.inventory-grid {
  grid-template-columns: 80px 80px 80px 80px 80px;
  @screen sm {
    grid-template-columns: 80px 80px 80px 80px 80px;
  }

  @screen md {
    grid-template-columns: 120px 120px 120px 120px 80px;
  }

  @screen lg {
    grid-template-columns: 160px 160px 160px 160px 120px;
  }

  @screen xl {
    grid-template-columns: 200px 200px 220px 220px 220px;
  }        
}
