.inventory-grid {
  grid-template-columns: 120px 120px 180px;
  @screen sm {
    grid-template-columns: 250px 250px 180px;
  }

  @screen md {
    grid-template-columns: 300px 300px 190px;
  }

  @screen lg {
    grid-template-columns: 200px 200px 200px 200px 220px;
  }

  @screen xl {
    grid-template-columns: 200px 200px 220px 220px 220px;
  }        
}
