.inventory-grid {
    grid-template-columns: 120px 120px 180px;
    @screen sm {
      grid-template-columns: 250px 250px 180px;
    }
  
    @screen md {
      grid-template-columns: 300px 300px 190px;
    }
  
    @screen lg {
      grid-template-columns: 50px 120px 120px 120px 120px 120px 120px 120px 120px 500px;
    }
  
    @screen xl {
        grid-template-columns: 500px 120px 120px 120px 120px 120px 120px 120px 120px 500px;
    }        
  }