<div
  class="sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent"
>
  <!-- Header -->

  <div
    class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b"
  >
    <!-- Title -->
    <div class="flex flex-row flex-wrap justify-between items-center w-full">
      <!-- Loader -->
      <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
      </div>
      <div class="flex flex-col activities-container">
        <div class="text-4xl font-extrabold tracking-tight">Actividades</div>
        <a class="prose font-bold"
          >De semana {{ start | date: "dd/MM/yyyy" }} al
          {{ end | date: "dd/MM/yyyy" }}</a
        >
      </div>
      <div
        class="flex flex-wrap gap-5 mt-5 xl:my-none"
        *ngIf="!assignToBay; else assign"
      >
        <!-- <app-filter (range)="daterange($event)"></app-filter> -->
        <app-filter></app-filter>
        <upload-print-activities class="pr-8"></upload-print-activities>
      </div>
      <ng-template #assign>
        <button
          class="mr-8"
          mat-raised-button
          [color]="'primary'"
          (click)="openAssignment()"
        >
          <span class="ml-2 mr-1">Asignar bahía</span>
        </button>
      </ng-template>
    </div>
  </div>

  <!-- Main -->
  <div class="flex flex-auto overflow-hidden">
    <!-- Products list -->
    <div
      class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto"
    >
      <ng-container *ngIf="activities">
        <ng-container *ngIf="activities.length > 0; else empty">
          <div class="grid overflow-x-auto">
            <!-- Header -->
            <div
              class="inventory-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5 justify-between"
              matSort
              matSortDisableClear
            >
              <div>
                <mat-checkbox
                  *ngIf="checkSomeUncheck()"
                  color="primary"
                  [checked]="checkAllFn()"
                  (change)="selectActivity($event)"
                >
                </mat-checkbox>
              </div>
              <div class="font-bold">ID</div>
              <div class="font-bold">Equipo</div>
              <div class="font-bold">Tipo de equipo</div>
              <div class="font-bold">Modelo</div>
              <div class="font-bold">Clase de actividad</div>
              <div class="font-bold">Tipo de Mantenimiento</div>
              <div class="font-bold">Bahía asignada</div>
              <div class="font-bold">Estado</div>
              <div class="font-bold">Tipo de solicitud</div>
              <div>Detalles</div>
              <div></div>
            </div>

            <!-- Rows -->
            <ng-container *ngIf="activities">
              <ng-container *ngFor="let actividad of activities; let i = index">
                <div
                  class="inventory-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b justify-between"
                  [ngClass]="{ 'postpone-activity': actividad.postergado }"
                  [matTooltip]="
                    actividad.postergado ? 'ACTIVIDAD POSTERGADA' : ''
                  "
                >
                  <div>
                    <mat-checkbox
                      *ngIf="!actividad?.bahia"
                      color="primary"
                      (change)="selectActivity($event, i)"
                      [checked]="actividad.checked"
                    ></mat-checkbox>
                  </div>

                  <div class="truncate" [matTooltip]="actividad?.id">
                    {{ actividad?.id }}
                  </div>
                  <div
                    class="truncate-overflow"
                    [matTooltip]="actividad?.equipo"
                  >
                    {{ actividad?.equipo }}
                  </div>

                  <div
                    [matTooltip]="actividad?.tipoEquipo"
                    class="truncate-overflow"
                  >
                    {{ actividad?.tipoEquipo }}
                  </div>

                  <div
                    class="truncate-overflow"
                    [matTooltip]="actividad?.modelo"
                  >
                    {{ actividad?.modelo }}
                  </div>

                  <div
                    class="truncate-overflow"
                    [matTooltip]="actividad?.claseActividad"
                  >
                    {{ actividad?.claseActividad }}
                  </div>

                  <div
                    class="truncate-overflow"
                    [matTooltip]="actividad?.tipoMantenimiento"
                  >
                    {{ actividad?.tipoMantenimiento }}
                  </div>
                  <div
                    class="truncate-overflow"
                    [matTooltip]="actividad?.bahia"
                  >
                    {{ actividad?.bahia }}
                  </div>
                  <div class="truncate">
                    <span
                      class="inline-flex items-center font-bold text-xs px-2.5 py-0.5 rounded-full tracking-wide uppercase text-green-800 dark:text-green-50"
                      [ngClass]="{
                        'bg-yellow-200': !actividad?.nestado,
                        'bg-yellow-200': actividad?.nestado === 'Sin Empezar',
                        'bg-red-200': actividad?.nestado === 'Observada',
                        'bg-green-200': actividad?.nestado === 'En Proceso',
                        'bg-blue-200': actividad?.nestado === 'Validada',
                        'bg-blue-200': actividad?.nestado === 'Terminada'
                      }"
                    >
                      <span class="leading-relaxed whitespace-nowrap">
                        {{ actividad?.nestado }}</span
                      ></span
                    >
                  </div>
                  <div class="hidden lg:block truncate">
                    {{ actividad?.tipoSolicitud }}
                  </div>
                  <div>
                    <button
                      class="min-w-10 min-h-7 h-7 px-2 leading-6"
                      mat-stroked-button
                      (click)="toggleDetails(actividad)"
                    >
                      <mat-icon
                        class="icon-size-5"
                        [svgIcon]="
                          selectedActivity?.id === actividad.id
                            ? 'heroicons_solid:chevron-up'
                            : 'heroicons_solid:chevron-down'
                        "
                      ></mat-icon>
                    </button>
                  </div>
                  <div>
                    <button
                      mat-icon-button
                      [matMenuTriggerFor]="menu"
                      aria-label="Toggle menu"
                    >
                      <mat-icon
                        svgIcon="heroicons_outline:dots-vertical"
                      ></mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" xPosition="before">
                      <!--<button mat-menu-item (click)="getFormats(actividad.id)">
                        Ver formatos
                      </button>-->
                      <button
                        mat-menu-item
                        routerLink="/admin/actividades/edit/{{ actividad.id }}"
                      >
                        Editar actividad
                      </button>

                      <button
                        *ngIf="!actividad.postergado"
                        mat-menu-item
                        (click)="postponeActivity(actividad)"
                      >
                        Postergar actividad
                      </button>
                    </mat-menu>
                  </div>
                  <ng-container *ngIf="selectedActivity?.id === actividad.id">
                    <ng-container
                      *ngTemplateOutlet="
                        rowDetailsTemplate;
                        context: { $implicit: actividad }
                      "
                    >
                      <div>
                        <!--<app-activity [isEdit]="isEdit"></app-activity>-->
                      </div>
                    </ng-container></ng-container
                  >
                </div>
              </ng-container>
            </ng-container>
          </div>
          <mat-paginator
            class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
            [ngClass]="{ 'pointer-events-none': isLoading }"
            [length]="(pagination$ | async).length"
            [pageIndex]="(pagination$ | async).page"
            [pageSize]="(pagination$ | async)?.size || 10"
            [pageSizeOptions]="[5, 10, 25, 100]"
            [showFirstLastButtons]="true"
            (page)="changePage($event)"
          ></mat-paginator>
        </ng-container>
      </ng-container>
      <ng-template #rowDetailsTemplate
        ><app-activity
          [isEdit]="isEdit"
          [activityData]="selectedActivity"
        ></app-activity
      ></ng-template>

      <ng-template #empty>
        <div
          class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center"
        >
          No hay formatos registrados
        </div>
      </ng-template>
    </div>
  </div>
</div>
