<div
  class="
    sm:inset-0
    flex flex-col flex-auto
    min-w-0
    sm:overflow-hidden
    bg-card
    dark:bg-transparent
  "
>
  <!-- Header -->
  <div
    class="
      relative
      flex flex-col
      sm:flex-row
      flex-0
      sm:items-center sm:justify-between
      py-8
      px-6
      md:px-8
      border-b
    "
  >
    <!-- Loader -->
    <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
      <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
    </div>
    <!-- Title -->
    <div class="flex flex-row flex-wrap justify-between items-center w-full">
      <div class="flex flex-col activities-container">
        <div class="text-4xl font-extrabold tracking-tight">Actividades</div>
        <a class="prose font-bold">De {{ start }} al {{ end }}</a>
      </div>
      <div
        class="flex flex-wrap gap-5 mt-5 xl:my-none"
        *ngIf="!assignToBay; else assign"
      >
        <app-filter (range)="daterange($event)"></app-filter>
        <upload-print-activities class="pr-8"></upload-print-activities>
      </div>
      <ng-template #assign>
        <button
          class="mr-8"
          mat-raised-button
          [color]="'primary'"
          (click)="openAssignment()"
        >
          <span class="ml-2 mr-1">Asignar bahía</span>
        </button>
      </ng-template>
    </div>
  </div>

  <!-- Main -->
  <div class="flex flex-auto overflow-hidden">
    <!-- Products list -->
    <div
      class="
        flex flex-col flex-auto
        sm:mb-18
        overflow-hidden
        sm:overflow-y-auto
      "
    >
      <ng-container *ngIf="activities">
        <ng-container *ngIf="activities.length > 0; else empty">
          <div class="grid overflow-x-auto">
            <!-- Header -->
            <div
              class="
                inventory-grid
                z-10
                sticky
                top-0
                grid
                gap-4
                py-4
                px-6
                md:px-8
                shadow
                text-md
                font-semibold
                text-secondary
                bg-gray-50
                dark:bg-black dark:bg-opacity-5
                justify-between
              "
              matSort
              matSortDisableClear
            >
              <div>
                <mat-checkbox color="primary" (change)="selectActivity($event)">
                </mat-checkbox>
              </div>
              <div class="">Cliente</div>
              <div class="">Equipo</div>
              <div class="">Modelo</div>
              <div class="">Actividad</div>
              <div class="">Tipo Mnto</div>
              <div class="">Bahía asignada</div>
              <div class="">Estado</div>
              <div class="">Tipo de solicitud</div>
              <div>Detalles</div>
              <div></div>
            </div>

            <!-- Rows -->
            <ng-container *ngIf="activities">
              <ng-container *ngFor="let actividad of activities; let i = index">
                <div
                  class="
                    inventory-grid
                    grid
                    items-center
                    gap-4
                    py-3
                    px-6
                    md:px-8
                    border-b
                    justify-between
                  "
                >
                  <div>
                    <mat-checkbox
                      color="primary"
                      (change)="selectActivity($event, i)"
                      [checked]="actividad.checked"
                    ></mat-checkbox>
                  </div>
                  <div class="truncate">
                    {{ actividad?.cliente }}
                  </div>

                  <div class="truncate">
                    {{ actividad?.equipo }}
                  </div>

                  <div class="truncate">
                    {{ actividad?.modelo }}
                  </div>

                  <div class="truncate">
                    {{ actividad?.actividad }}
                  </div>

                  <div class="truncate">
                    {{ actividad?.tipo_mantenimiento }}
                  </div>
                  <div class="truncate">
                    {{ actividad?.bahia_asignada }}
                  </div>
                  <div class="truncate">
                    <span
                      class="
                        inline-flex
                        items-center
                        font-bold
                        text-xs
                        px-2.5
                        py-0.5
                        rounded-full
                        tracking-wide
                        uppercase
                        bg-green-200
                        text-green-800
                        dark:bg-green-600 dark:text-green-50
                      "
                    >
                      <span class="leading-relaxed whitespace-nowrap">
                        {{
                          actividad?.estado === 0 ? "Inactivo" : "Activo"
                        }}</span
                      ></span
                    >
                  </div>
                  <div class="hidden lg:block truncate">
                    {{ actividad?.tipo_solicitud }}
                  </div>
                  <div>
                    <button
                      class="min-w-10 min-h-7 h-7 px-2 leading-6"
                      mat-stroked-button
                      (click)="toggleDetails(actividad)"
                    >
                      <mat-icon
                        class="icon-size-5"
                        [svgIcon]="
                          selectedActivity?.id === actividad.id
                            ? 'heroicons_solid:chevron-up'
                            : 'heroicons_solid:chevron-down'
                        "
                      ></mat-icon>
                    </button>
                  </div>
                  <div>
                    <button
                      mat-icon-button
                      [matMenuTriggerFor]="menu"
                      aria-label="Toggle menu"
                    >
                      <mat-icon
                        svgIcon="heroicons_outline:dots-vertical"
                      ></mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" xPosition="before">
                      <button
                        mat-menu-item
                        routerLink="/admin/actividades/validation/{{
                          actividad.id
                        }}/1/1"
                      >
                        Ver formatos
                      </button>
                      <button
                        mat-menu-item
                        routerLink="/admin/actividades/edit/{{ actividad.id }}"
                      >
                        Editar actividad
                      </button>
                    </mat-menu>
                  </div>
                  <ng-container *ngIf="selectedActivity?.id === actividad.id">
                    <ng-container
                      *ngTemplateOutlet="
                        rowDetailsTemplate;
                        context: { $implicit: actividad }
                      "
                    >
                      <div>
                        <!--<app-activity [isEdit]="isEdit"></app-activity>-->
                      </div>
                    </ng-container></ng-container
                  >
                </div>
              </ng-container>
            </ng-container>
          </div>
        </ng-container>
      </ng-container>
      <ng-template #rowDetailsTemplate
        ><app-activity
          [isEdit]="isEdit"
          [activityData]="selectedActivity"
        ></app-activity
      ></ng-template>

      <ng-template #empty>
        <div
          class="
            p-8
            sm:p-16
            border-t
            text-4xl
            font-semibold
            tracking-tight
            text-center
          "
        >
          No hay formatos registrados
        </div>
      </ng-template>
    </div>
  </div>
</div>
