.inventory-grid {
  grid-template-columns: 40px 50px 50px 50px  50px 50px 50px 50px 50px 50px 50px  20px;
    @screen sm {
      grid-template-columns: 40px 50px 50px  50px 50px 50px 50px 50px 50px 50px 50px  20px;
    }
  
    @screen md {
      grid-template-columns: 40px 50px 50px 50px  50px 50px 50px 50px 50px 50px 50px  20px;
    }
  
    @screen lg {
      grid-template-columns: 20px 30px 80px 80px  80px 80px 80px 80px 80px 80px 80px  20px;
    }
  
    @screen xl {
        grid-template-columns: 20px 30px 100px 100px 100px 100px  100px 100px 100px 100px 100px  20px;
    }        
  }

  .truncate-overflow {
    --max-lines: 3;
    //position: relative;
    max-height: calc(var(--lh) * var(--max-lines));
    overflow: hidden;
    padding-right: 1rem; /* space for ellipsis */
    max-height: 4.5em;
    text-overflow: ellipsis;
  }
  
  .truncate-overflow::after {
    content: "...";
    position: absolute;
    background:inherit;
    bottom:0;
    right:0;
  }

  .postpone-activity {
    opacity: 0.5
  }