.inventory-grid {
  grid-template-columns: 100px 30px 30px ;
    @screen sm {
      grid-template-columns: 100px 30px 30px ;
    }
  
    @screen md {
      grid-template-columns: 100px 50px 30px ;
    }
  
    @screen lg {
      grid-template-columns: 200px 50px 50px;
    }
  
    @screen xl {
      grid-template-columns: 200px 100px 50px ;
    }
  }
  