<form [formGroup]="form" (submit)="onSubmit()" #ngForm="ngForm">
  <div
    class="
      sm:absolute sm:inset-0
      flex flex-col flex-auto
      min-w-0
      sm:overflow-hidden
      bg-card
    "
  >
    <!-- Header -->
    <div
      class="
        relative
        flex flex-col
        sm:flex-row
        flex-0
        sm:items-center sm:justify-between
        py-8
        px-6
        md:px-8
        border-b
      "
    >
      <!-- Loader -->
      <div class="absolute inset-x-0 bottom-0" *ngIf="loading$ | async">
        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
      </div>
      <!-- Title -->
      <div class="text-4xl font-extrabold tracking-tight">
        {{ isEdit ? "Editar" : "Nuevo" }} usuario
      </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden bg-gray-100 py-4 px-6">
      <!-- Products list -->
      <div
        class="
          flex flex-auto
          overflow-hidden
          relative
          pb-18
          border-radius-1
          rounded-lg
        "
      >
        <div
          class="
            flex flex-col flex-auto
            overflow-hidden
            sm:overflow-y-auto
            py-8
            px-6
            md:px-3
            bg-white
            w-full
          "
        >
          <div class="flex-auto user-info-container">
            <!-- Alerta -->
            <div class="w-full mb-8 px-8" *ngIf="alert">
              <fuse-alert
                [appearance]="'soft'"
                *ngIf="alert"
                [type]="alert?.type"
                [showIcon]="false"
              >
                {{ alert.message }}
              </fuse-alert>
            </div>
            <!-- Usuario -->

            <div class="flex flex-col md:flex-row w-full py-4">
              <!-- Usuario -->
              <mat-form-field class="w-full md:w-1/4 md:pl-8">
                <mat-label>Usuario</mat-label>
                <input matInput formControlName="usr" autocomplete="off" />
                <mat-error> {{ getErrorMessage("usr") }} </mat-error>
              </mat-form-field>
              <div class="w-full md:w-3/4 md:pl-8 pr-8 font-medium">
                <mat-label>Perfiles</mat-label>
                <div class="flex items-center h-10 font-normal flex-wrap">
                  <ng-container
                    formArrayName="usuarioRoles"
                    *ngFor="
                      let perfil of rolesFormArray?.controls;
                      let i = index
                    "
                  >
                    <mat-checkbox
                      class="example-margin mr-3"
                      [color]="'primary'"
                      [formControlName]="i"
                      >{{ perfiles[i].nombre }}</mat-checkbox
                    >
                  </ng-container>
                </div>
                <span
                  class="text-red-600 font-medium text-sm"
                  *ngIf="ngForm.submitted && !form.get('usuarioRoles').valid"
                >
                  {{ getErrorMessage("usuarioRoles") }}
                </span>
              </div>
            </div>
            <div class="w-full md:w-3/4 md:pl-8 pr-8 font-medium">
              <mat-label>Plataforma</mat-label>
              <div class="flex items-center h-10 font-normal">
                <ng-container
                  formArrayName="plataformas"
                  *ngFor="
                    let plataforma of plataformaFormArray?.controls;
                    let i = index
                  "
                >
                  <mat-checkbox
                    class="example-margin mr-3"
                    [color]="'primary'"
                    [formControlName]="i"
                    >{{ i === 0 ? "Web" : "Movil" }}</mat-checkbox
                  >
                </ng-container>
              </div>
              <span
                class="text-red-600 font-medium text-sm"
                *ngIf="ngForm.submitted && !form.get('plataformas').valid"
              >
                {{ getErrorMessage("plataformas") }}
              </span>
            </div>
            <!-- Usuario -->
          </div>
          <div class="hidden md:block px-8 py-4">
            <mat-divider></mat-divider>
          </div>
          <div>
            <!-- Nombres, Apellidos -->
            <div class="flex flex-col md:flex-row w-full">
              <!-- Nombres -->
              <mat-form-field class="w-full md:w-1/4 md:pl-8">
                <mat-label>Nombres</mat-label>
                <input matInput formControlName="nombres" />
                <mat-error> {{ getErrorMessage("nombres") }} </mat-error>
              </mat-form-field>

              <mat-form-field class="w-full md:w-1/4 md:pl-8">
                <mat-label>Apellidos</mat-label>
                <input matInput formControlName="apellidos" />
                <mat-error> {{ getErrorMessage("apellidos") }} </mat-error>
              </mat-form-field>
            </div>

            <!-- Correo, Contraseña -->
            <div class="flex flex-col md:flex-row w-full">
              <!-- Correo  -->
              <mat-form-field class="w-full md:w-1/4 md:pl-8">
                <mat-label>Correo electrónico</mat-label>
                <input matInput formControlName="correo" />
                <mat-error> {{ getErrorMessage("correo") }} </mat-error>
              </mat-form-field>

              <mat-form-field class="w-full md:w-1/4 md:pl-8" *ngIf="!isEdit">
                <mat-label>Contraseña</mat-label>
                <input
                  matInput
                  type="password"
                  formControlName="psw"
                  autocomplete="off"
                />
                <mat-error> {{ getErrorMessage("psw") }} </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>

        <!-- Footer -->
        <div
          class="
            flex flex-row
            justify-end
            items-center
            w-full
            px-6
            bottom-0
            left-0
            bottom-0
            left-0
            h-18
            absolute
            bg-gray-50
          "
        >
          <a
            mat-raised-button
            class="
              ml-4
              bg-gray-50
              border-solid border border-accent-300
              text-gray-700
              shadow-none
            "
            routerLink="/admin/ajustes/usuarios"
          >
            <span class="ml-1 mr-1">Cancelar</span>
          </a>

          <button
            [disabled]="!isEdit && form.invalid"
            class="ml-4"
            mat-flat-button
            [color]="'primary'"
          >
            <mat-progress-spinner
              *ngIf="loading$ | async"
              [diameter]="24"
              [mode]="'indeterminate'"
            ></mat-progress-spinner>
            <span class="ml-2 mr-1" *ngIf="!(loading$ | async)">{{
              isEdit ? "Guardar" : "Crear"
            }}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
