<form [formGroup]="form">
  <div mat-dialog-title class="flex justify-between items-center">
    <h4 class="font-bold">Agregar Documento</h4>
    <button mat-icon-button type="button" (click)="matdialigRef.close()">
      <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
    </button>
  </div>
  <div mat-dialog-content class="pb-6">
    <div class="flex flex-col w-full">
      <!-- Nombre -->

      <mat-form-field floatLabel="always" class="w-100-p">
        <mat-label>Nombre</mat-label>
        <input
          matInput
          type="text"
          formControlName="nombre"
          placeholder="Ingrese nombre"
          autocomplete="off"
        />
        <mat-error *ngIf="form.controls['nombre'].invalid">{{
          matErrorMsg
        }}</mat-error>
      </mat-form-field>

      <mat-form-field floatLabel="always" class="w-100-p">
        <mat-label class="font-bold">Cliente</mat-label>
        <mat-select
          formControlName="idCliente"
          [value]="form.controls['idCliente'].value"
          (selectionChange)="setClient($event)"
        >
          <mat-option *ngFor="let cliente of clientsOpt" [value]="cliente.id">{{
            cliente.nombre
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field floatLabel="always" class="w-100-p">
        <mat-label class="font-bold">Modelo</mat-label>
        <mat-select
          formControlName="idModelo"
          [value]="form.controls['idModelo'].value"
          (selectionChange)="setModel($event)"
        >
          <mat-option *ngFor="let modelo of modelosOpt" [value]="modelo.id">{{
            modelo.nombre
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field floatLabel="always" class="w-100-p">
        <mat-label class="font-bold">Clase actividad</mat-label>
        <mat-select
          formControlName="idClaseActividad"
          [value]="form.controls['idClaseActividad'].value"
          (selectionChange)="setActivity($event)"
        >
          <mat-option
            *ngFor="let actividad of clase_actividadesOpt"
            [value]="actividad.id"
            >{{ actividad.nombre }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field floatLabel="always" class="w-100-p">
        <mat-label class="font-bold">Tipo Mantenimiento</mat-label>
        <mat-select
          formControlName="idTipoMantenimiento"
          [value]="form.controls['idTipoMantenimiento'].value"
          (selectionChange)="setTipoMtto($event)"
        >
          <mat-option
            *ngFor="let tipo_mantenimiento of tipo_mttoOpt"
            [value]="tipo_mantenimiento.id"
            >{{ tipo_mantenimiento.nombre }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <div class="w-full">
        <p class="text-gray-900 font-medium">Documento</p>
        <label class="file">
          <span>Documento</span>
          <input type="file" (change)="onChageFile($event)" />
          <mat-progress-spinner
            *ngIf="filesLoading"
            [diameter]="24"
            [mode]="'indeterminate'"
          ></mat-progress-spinner>
          <mat-icon
            *ngIf="!filesLoading"
            [color]="'#94a3b8'"
            [svgIcon]="'heroicons_solid:upload'"
          ></mat-icon>
        </label>
        <p
          *ngIf="form.get('documentosList').value"
          (click)="clickOpenFile(form.get('documentosList').value)"
        >
          Ver archivo
        </p>
      </div>

      <mat-slide-toggle
        color="primary"
        (change)="check($event)"
        [checked]="form.controls['activo'].value"
      >
        Estado
      </mat-slide-toggle>
    </div>
  </div>
  <div mat-dialog-actions class="flex justify-center px-6 gap-5">
    <button
      (click)="matdialigRef.close()"
      mat-button
      class="ml-4 bg-gray-50 border-solid border border-accent-300 text-gray-700 shadow-none"
    >
      Cancelar
    </button>
    <button
      *ngIf="!isEdit"
      mat-raised-button
      [color]="'primary'"
      class="w-32"
      (click)="submit()"
      [disabled]="form.invalid"
    >
      <mat-progress-spinner
        *ngIf="isLoading"
        [diameter]="24"
        [mode]="'indeterminate'"
      ></mat-progress-spinner>
      <span>Crear</span>
    </button>

    <button
      *ngIf="isEdit"
      mat-raised-button
      [color]="'primary'"
      class="w-32"
      (click)="submit('edit')"
      [disabled]="form.invalid"
    >
      <mat-progress-spinner
        *ngIf="isLoading"
        [diameter]="24"
        [mode]="'indeterminate'"
      ></mat-progress-spinner>
      <span>Editar</span>
    </button>
  </div>
</form>
