.file {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    padding: 16px;
  
    height: 48px;
    &:hover, &:focus {
      border-color: var(--fuse-primary-400);
    }
    span {
      padding-bottom: 6px;
    }
    input {
      display: none;
    }
    p {
      font-weight: 500;
    }
    margin-top: 4px;
  }