.dashboard-filters {
    ::ng-deep .mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex {
        background-color: rgba(226, 232, 240, var(--tw-bg-opacity)) !important;
        border-radius: 20px;
        border: unset!important;
    }

    ::ng-deep .mat-form-field-infix {
        width: auto!important;
    }
}

::ng-deep .mat-date-range-input.mat-date-range-input-hide-placeholders {
    visibility: hidden;
}

.mat-date-ranage-input-width {
    max-width: 20px!important;
}
