<div class="flex flex-col flex-auto min-w-0 bg-card dark:bg-transparent">
  <div
    class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b"
  >
    <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
      <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
    </div>
    <div class="text-4xl font-extrabold tracking-tight flex items-center">
      <button mat-icon-button class="button-avatar mr-3">
        <span class="relative text-white">
          {{ user?.nombres | slice: 0:1 | uppercase }}
        </span>
      </button>
      Hola, {{ user?.nombres }}
    </div>

    <button mat-raised-button [color]="'primary'">
      <mat-icon [svgIcon]="'heroicons_outline:document-download'"></mat-icon>
      <span class="ml-2 mr-1">Exportar</span>
    </button>
  </div>
  <div class="flex items-center ml-6 pt-4">
    <div class="px-4 py-2 rounded-tl-xl overflow-hidden bg-hover">
      <div class="sm:text-lg leading-6 truncate">Todos los clientes</div>
    </div>
    <div class="ml-px rounded-tr-xl bg-hover">
      <button [matMenuTriggerFor]="projectsMenu" mat-icon-button>
        <mat-icon svgIcon="heroicons_outline:chevron-down"></mat-icon>
      </button>
      <mat-menu #projectsMenu="matMenu">
        <button mat-menu-item>Cliente 1</button>
        <button mat-menu-item>Cliente 2</button>
        <button mat-menu-item>Cliente 3</button>
        <button mat-menu-item>Cliente 4</button>
      </mat-menu>
    </div>
  </div>

  <div class="flex flex-auto bg-gray-100 py-8 px-6 md:px-8 dashboard-filters">
    <div
      class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto"
    >
      <div class="flex flex-wrap justify-between">
        <div class="flex flex-col gap-2 sm:mb-4">
          <h1 class="prose">Status general de actividades</h1>
          <a class="prose font-bold">Del {{ start }} al {{ end }}</a>
        </div>
        <div class="flex flex-wrap gap-5 justify-end mb-6">
          <mat-form-field>
            <mat-select [value]="data.request_type[0].name">
              <mat-option
                *ngFor="let option of data.request_type"
                [value]="option.name"
                >{{ option.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select [value]="data.activity_class[0].name">
              <mat-option
                *ngFor="let option of data.activity_class"
                [value]="option.name"
                >{{ option.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>

          <!--<fuse-date-range></fuse-date-range>-->

          <button
            mat-raised-button
            [color]="'secondary'"
            (click)="picker.open()"
          >
            <mat-date-range-input
              [formGroup]="dateRange"
              #rangepicker
              [rangePicker]="picker"
              hidden
              class="max-w-1"
            >
              <input
                matStartDate
                placeholder="Start date"
                hidden
                formControlName="startDate"
                class="mat-date-ranage-input-width"
              />
              <input
                matEndDate
                placeholder="End date"
                hidden
                formControlName="endDate"
                class="mat-date-ranage-input-width"
                (dateChange)="changeDate()"
              />
            </mat-date-range-input>
            <span class="ml-2 mr-1">Elegir fecha</span>
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </button>
        </div>
      </div>

      <app-summary-cards></app-summary-cards>

      <div
        class="sm:col-span-2 md:col-span-4 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl mt-4"
      >
        <div class="flex sm:flex-col md:flex-row justify-between">
          <h1 class="prose font-bold">Status por flota 1/2</h1>
          <mat-tab-group
            (selectedTabChange)="allFlotas($event)"
            class="sm:px-2 flex sm:items-center md:items-end"
            [animationDuration]="'0'"
          >
            <!-- Home -->
            <mat-tab label="Todas"> </mat-tab>
            <mat-tab label="Auxiliar"> </mat-tab>
            <mat-tab label="Camiones"> </mat-tab>
            <mat-tab label="Palas"> </mat-tab>
            <mat-tab label="Cargadores WA800"> </mat-tab>
          </mat-tab-group>
        </div>

        <app-status-flota
          *ngIf="_allFlotas"
          class="overflow-x-auto"
        ></app-status-flota>
        <status-flota-single *ngIf="!_allFlotas"></status-flota-single>
      </div>

      <div
        class="sm:col-span-2 md:col-span-4 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl mt-4"
      >
        <div class="flex sm:flex-col md:flex-row justify-between">
          <h1 class="prose font-bold">Actividades no ejecutadas</h1>
          <mat-tab-group
            (selectedTabChange)="allNoExecuted($event)"
            class="sm:px-2 flex sm:items-center md:items-end"
            [animationDuration]="'0'"
          >
            <!-- Home -->
            <mat-tab label="Todas"> </mat-tab>
            <mat-tab label="Postergadas"> </mat-tab>
            <mat-tab label="No ejecutadas"> </mat-tab>
          </mat-tab-group>
        </div>

        <no-execute-activities *ngIf="_allNoExecuted"></no-execute-activities>
        <no-execute-activities-single
          *ngIf="!_allNoExecuted"
        ></no-execute-activities-single>
      </div>

      <div
        class="sm:col-span-2 md:col-span-4 flex flex-col flex-auto xl:items-center md:items-start p-6 bg-card shadow rounded-2xl mt-4 overflow-x-auto"
      >
        <div class="flex sm:flex-col md:flex-row w-full justify-start">
          <h1 class="prose font-bold">Código de demoras</h1>
        </div>
        <deleyed-code class="sm:max-w-sm xl:max-w-none"></deleyed-code>
      </div>

      <div
        class="sm:col-span-2 md:col-span-4 flex flex-col flex-auto items-center justify-start p-6 bg-card shadow rounded-2xl mt-4 overflow-x-auto"
      >
        <div class="flex justify-between w-full">
          <div class="flex flex-col">
            <h1 class="prose font-bold">Adherencia</h1>
            <a class="prose">Del 27 de Enero al 12 de Febrero, 2022</a>
          </div>

          <mat-form-field>
            <mat-select [value]="'Fecha'">
              <mat-option [value]="'Fecha'">Fecha</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <app-adhesion class="sm:max-w-sm xl:max-w-none"></app-adhesion>
      </div>
    </div>
  </div>
</div>
