<form [formGroup]="form">
  <div mat-dialog-title class="flex justify-between items-center">
    <h4>Filtrar</h4>
    <button mat-icon-button type="button" (click)="matdialigRef.close()">
      <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
    </button>
  </div>
  <div class="inset-x-0 bottom-0 w-full" *ngIf="loading">
    <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
  </div>

  <div mat-dialog-content class="pb-6">
    <div class="flex flex-col w-full">
      <!-- Nombre -->

      <mat-form-field floatLabel="always" class="w-100-p">
        <mat-label>Modelo</mat-label>
        <mat-select formControlName="modelo" placeholder="Ingrese un modelo">
          <mat-option *ngFor="let modelo of modelosOpt" [value]="modelo.id">{{
            modelo.nombre
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field floatLabel="always" class="w-100-p">
        <mat-label class="font-bold">Equipo</mat-label>
        <mat-select formControlName="equipo" placeholder="Ingrese un equipo">
          <mat-option *ngFor="let equipo of equipoOpt" [value]="equipo.id">{{
            equipo.nombre
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field floatLabel="always" class="w-100-p">
        <mat-label class="font-bold">Clase de actividad</mat-label>
        <mat-select
          formControlName="actividad"
          placeholder="Ingrese una actividad"
        >
          <mat-option
            *ngFor="let actividad of actividadOpt"
            [value]="actividad.id"
            >{{ actividad.nombre }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <!--<mat-form-field floatLabel="always" class="w-100-p">
        <mat-label class="font-bold">Tipo de solicitud</mat-label>
        <mat-select
          formControlName="tipo_solicitud"
          placeholder="Ingrese un tipo de solicitud"
        >
          <mat-option
            *ngFor="let solicitud of filters.tipo_solicitud"
            [value]="solicitud.id"
            >{{ solicitud.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>-->

      <mat-form-field floatLabel="always" class="w-100-p">
        <mat-label class="font-bold">Estado</mat-label>
        <mat-select formControlName="estados" placeholder="Ingrese un estados">
          <mat-option
            *ngFor="let estado of filters.estados"
            [value]="estado.id"
            >{{ estado.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <a class="underline cursor-pointer" (click)="wipeFilters()">
        <span class="font-semibold">Eliminar filtros</span>
      </a>
    </div>
  </div>
  <div mat-dialog-actions class="flex justify-end px-6 bg-gray-100">
    <button
      (click)="matdialigRef.close()"
      mat-button
      class="
        ml-4
        bg-gray-50
        border-solid border border-accent-300
        text-gray-700
        shadow-none
      "
    >
      Cancelar
    </button>
    <button
      mat-raised-button
      [color]="'primary'"
      class="w-32"
      (click)="applyFilters()"
    >
      <span> Aplicar filtros </span>
    </button>
  </div>
</form>
